{"openapi":"3.1.0","info":{"title":"Wink Payment API","description":"A programmatic way to create bookings, receive payment and disburse funds globally.\n\n## APIs\nNot every integrator needs every APIs. For that reason, we have separated APIs into context.\n\n- [Affiliate](/affiliate): All APIs related to selling travel inventory as an affiliate.\n- [Analytics](/analytics): All APIs related to tracking metrics across a wide variety of data source segments including, more entertaining, leaderboard metrics.\n- [Booking](/booking): All APIs related to creating platform bookings.\n- [Channel Manager](/channel-manager): All APIs related to channel managers who want to integrate with our platform.\n- [Extranet](/extranet): All APIs related to managing travel inventory and suppliers.\n- [Inventory](/inventory): All APIs related to retrieve known travel inventory as it was found using the Lookup API..\n- [Lookup](/lookup): All APIs related to locating inventory by region, locale and property flags.\n- [Reference](/reference): All APIs related to retrieving platform-supported taxonomies.\n- [TripPay](/payment): All APIs related to TripPay account management, booking, mapping and integration features.\n\n## SDKs\nWe are actively working on supporting the most used languages out there. If you don't see your language here, reach out to us with a request to officially add your language. In the meantime, if you want to roll your own SDK, you can do so by downloading the OpenAPI spec and using one of the many available OpenAPI generators available: [https://openapi-generator.tech/docs/generators](https://openapi-generator.tech/docs/generators).\n\n- Java SDK [https://github.com/wink-travel/trip-pay-sdk-java](https://github.com/wink-travel/trip-pay-sdk-java)\n\n# Usage\nThese features are made available to you via a [REST API](https://en.wikipedia.org/wiki/Representational_state_transfer). This API is language agnostic. We will link to SDKs for the most popular programming languages on this page as they become available.\n\n## Versioning\nWe chose to version our endpoints in a way that we hope affects your integration with us the least. You request the version of our API you wish to work with via the `Wink-Version` header. When it's time for you to upgrade, you only have to change the version number to get access to our updated endpoints.\n\n## Release history\n- Follow updates on Github: https://github.com/wink-travel/wink-sdk-java/blob/master/CHANGELOG.md\n","contact":{"name":"Bjorn Harvold","email":"bjorn@wink.travel"},"version":"30.22.0","x-logo":{"backgroundColor":"#FFFFFF","altText":"TripPay logo","url":"https://res.cloudinary.com/traveliko/image/upload/c_scale,h_90/v1632220708/trippay/brand/TP_logo_v2_PURPLE_trans.png"}},"externalDocs":{"description":"Payment Documentation","url":"https://academy.wink.travel/payment/what-is-trip-pay/"},"servers":[{"url":"https://api.trippay.io","description":"Endpoint"}],"tags":[{"name":"Account Mappings","description":"Use the Account Mapping API to manage a single account's mapping with TripPay accounts."},{"name":"Mapping","description":"Use the Mapping API to search for, create and map your properties against TripPay properties."},{"name":"Ping","description":"Testing endpoints"},{"name":"Agent","description":"Create a booking as an agent."},{"name":"Affiliate","description":"Affiliate related endpoint."},{"name":"Contract","description":"Booking contract related functionality."},{"name":"Account","description":"Use the Account API to manage accounts on TripPay."},{"name":"Webhook","description":"Use the Webhook API to create webhooks to interface with the TripPay API."},{"name":"Managing Entity","description":"Call these authenticated endpoints to see which entities you have access to manage."},{"name":"Notification","description":"The Notifications API is a way for us to stay in touch with users and accounts."},{"name":"Application","description":"Use the Application API to create applications to interface with the TripPay API."}],"paths":{"/api/account/{id}/bank-account/{bankAccountId}":{"put":{"tags":["Account"],"summary":"Update Bank Account","description":"Update an existing bank account for an existing account using local account identifier","operationId":"upsertAccountBankAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"bankAccountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertBankAccountRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Account"],"summary":"Remove Bank Account","description":"Remove an existing bank account for an existing account using local account identifier","operationId":"removeAccountBankAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"bankAccountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/{accountIdentifier}/mapping/{id}":{"get":{"tags":["Account Mappings"],"summary":"Show Account Mapping","description":"Show a specific mapping by account and mapping identifier","operationId":"loadAccountMapping","parameters":[{"name":"accountIdentifier","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Mapping"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"put":{"tags":["Account Mappings"],"summary":"Update Account Mapping","description":"Update an existing mapping owned by account identifier.","operationId":"updateAccountMapping","parameters":[{"name":"accountIdentifier","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertAccountMappingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Mapping"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Account Mappings"],"summary":"Delete Account Mapping","description":"Delete a specific mapping owned by account identifier.","operationId":"removeAccountMapping","parameters":[{"name":"accountIdentifier","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/external/{id}/bank-account/{bankAccountId}":{"put":{"tags":["Account"],"summary":"Update Bank Account for External","description":"Update an existing bank account for an account using the external account identifier","operationId":"upsertExternalAccountBankAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"bankAccountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertBankAccountRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Account"],"summary":"Remove Bank Account for External","description":"Remove an existing bank account for an account using the external account identifier","operationId":"removeExternalAccountBankAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"bankAccountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/webhook":{"post":{"tags":["Webhook"],"summary":"Create Webhook","description":"Create a new webhook","operationId":"createWebhook","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertWebhookRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Webhook"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/mapping":{"post":{"tags":["Mapping"],"summary":"Create Mapping","description":"Create a mapping between two accounts","operationId":"createMapping","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMappingRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Mapping"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/contract/{identifier}/cancellable":{"post":{"tags":["Contract"],"summary":"Contract cancellable","description":"Returns whether a booking can be cancelled or not and any rules associated with cancelling.","operationId":"isContractCancellable","parameters":[{"name":"identifier","in":"path","description":"Booking contract identifier","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelBookingContractRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingContractCancellableResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/contract/payable":{"post":{"tags":["Contract"],"summary":"Create payable contracts","description":"Returns a list of contracts that can be used alongside payment widget to initiate a payment.","operationId":"createPayableContracts","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayableContractRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PayableContractResponse"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/contract/list/{traceId}/cancellable":{"post":{"tags":["Contract"],"summary":"Group contract cancellable","description":"Returns whether a booking can be cancelled or not and any rules associated with cancelling.","operationId":"isGroupContractCancellable","parameters":[{"name":"traceId","in":"path","description":"Booking contract traceId","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelBookingContractRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookingContractCancellableResponse"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/contract/agent":{"post":{"tags":["Agent"],"summary":"Create Agent Payment","description":"Attempt an immediate payment with Agent as acquirer. Checks for valid funds in account before booking instruction.","operationId":"createAgentSale","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentSaleRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MultiBookingContractResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/contract/affiliate/details":{"post":{"tags":["Affiliate"],"summary":"Show Affiliate Details","description":"Returns basic affiliate details.","operationId":"showAffiliateDetails","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AffiliateDetailsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AffiliateInformation"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/application":{"post":{"tags":["Application"],"summary":"Create Application","description":"Create a new application","operationId":"createApplication","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertApplicationRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateApplicationResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/{id}/bank-account":{"post":{"tags":["Account"],"summary":"Add Bank Account","description":"Add a bank account to an existing account using local account identifier","operationId":"createAccountBankAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertBankAccountRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/{accountIdentifier}/mapping/grid":{"post":{"tags":["Account Mappings"],"summary":"Show Account Mappings","description":"List all mappings belonging to a specific account.","operationId":"loadAccountMappingGrid","parameters":[{"name":"accountIdentifier","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/State"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageMapping"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/{accountIdentifier}/mapping":{"post":{"tags":["Account Mappings"],"summary":"Create Account Mapping","description":"Create a mapping between a local account and a remote account.","operationId":"createAccountMapping","parameters":[{"name":"accountIdentifier","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertAccountMappingRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Mapping"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/{accountIdentifier}/contract/grid":{"post":{"tags":["Contract"],"summary":"Retrieve contract grid","description":"Returns booking contracts for account identifier.","operationId":"showContractGrid","parameters":[{"name":"accountIdentifier","in":"path","description":"The account owner","required":true,"schema":{"type":"string"}},{"name":"state","in":"query","description":"The optional state to want to receive funds for","required":false,"schema":{"type":"string","enum":["UPCOMING","ACTIVE","COMPLETED","REQUESTING_REFUND","FUNDS_AVAILABLE"]}},{"name":"accountFundsOnly","in":"query","description":"Whether to only returns funds for that account identifier or total funds that account identifier was part of. (defaults to false).","required":false,"schema":{"type":"boolean","default":false},"example":true},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"description":"The optional state to filter on","content":{"application/json":{"schema":{"$ref":"#/components/schemas/State"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingContractGridResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/grid":{"post":{"tags":["Account"],"summary":"Show Account Grid for User","description":"Load account grid for authenticated user","operationId":"loadAccountGridForAuthenticatedUser","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/State"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageAccount"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/external/{id}/bank-account":{"post":{"tags":["Account"],"summary":"Add Bank Account to External","description":"Add a bank account to an existing account using the external account identifier","operationId":"createExternalAccountBankAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertBankAccountRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account":{"post":{"tags":["Account"],"summary":"Create Account","description":"Create a new account","operationId":"createAccount","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAccountRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/webhook/{id}":{"get":{"tags":["Webhook"],"summary":"Show Webhook","description":"Show a specific webhook","operationId":"loadWebhook","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Webhook"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Webhook"],"summary":"Delete Webhook","description":"Remove a specific webhook","operationId":"deleteWebhook","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"patch":{"tags":["Webhook"],"summary":"Update Webhook","description":"Update an existing webhook","operationId":"updateWebhook","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertWebhookRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Webhook"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/mapping/{id}":{"get":{"tags":["Mapping"],"summary":"Show Mapping","description":"Show a specific mapping contract","operationId":"loadMapping","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Mapping"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Mapping"],"summary":"Delete Mapping","description":"Delete a specific mapping contract","operationId":"removeMapping","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Mapping"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"patch":{"tags":["Mapping"],"summary":"Update Mapping","description":"Update a mapping name only","operationId":"updateMapping","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMappingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Mapping"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/mapping/external/{id}":{"get":{"tags":["Mapping"],"summary":"Show External Mapping","description":"Show a specific mapping contract by external identifier","operationId":"loadMappingByExternalIdentifier","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Mapping"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Mapping"],"summary":"Delete External Mapping","description":"Delete a specific mapping contract based on its external identifier","operationId":"removeMappingByExternalIdentifier","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Mapping"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"patch":{"tags":["Mapping"],"summary":"Update External Mapping","description":"Update a mapping name only","operationId":"updateMappingByExternalIdentifier","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMappingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Mapping"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/contract/{identifier}/request-refund":{"patch":{"tags":["Contract"],"summary":"Request refund","description":"Requests a refund for a booking contract. Creates a refund request record that needs to be approved by a payment admin.","operationId":"requestRefund","parameters":[{"name":"identifier","in":"path","description":"Booking contract identifier","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefundRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingContract"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/contract/{identifier}/immediate-refund":{"patch":{"tags":["Contract"],"summary":"Immediate refund","description":"In the event that a booking is not possible on the partner site due to lack of availability, or similar. This endpoint offers a 3-minute window to let that partner refund the traveler 100% of her funds.","operationId":"immediateRefund","parameters":[{"name":"identifier","in":"path","description":"Booking contract identifier","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"description":"Accompanying payload that described the optional reason for using this endpoint.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImmediateRefundRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingContract"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/contract/{identifier}/cancel":{"patch":{"tags":["Contract"],"summary":"Cancel booking","description":"Cancels a booking contract. Based on the type of cancellation policy, will do a refund or partial refund to the payment method.","operationId":"cancelBookingContract","parameters":[{"name":"identifier","in":"path","description":"Booking contract identifier","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelBookingContractRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingContract"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/contract/list/{traceId}/immediate-refund":{"patch":{"tags":["Contract"],"summary":"Immediate group refund","description":"In the event that a booking is not possible on the partner site due to lack of availability, or similar. This endpoint offers a 3-minute window to let that partner refund the traveler 100% of her funds.","operationId":"immediateGroupRefund","parameters":[{"name":"traceId","in":"path","description":"Booking contract traceId","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"description":"Accompanying payload that described the optional reason for using this endpoint.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImmediateRefundRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookingContract"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/contract/list/{traceId}/cancel":{"patch":{"tags":["Contract"],"summary":"Cancel group bookings","description":"Cancels a group booking contract. All bookings under the same traceId.","operationId":"cancelGroupBookingContract","parameters":[{"name":"traceId","in":"path","description":"Booking contract traceId","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelBookingContractRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookingContract"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/application/{id}":{"get":{"tags":["Application"],"summary":"Show Application","description":"Show a specific application","operationId":"loadApplication","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Application"],"summary":"Delete Application","description":"Remove a specific application","operationId":"deleteApplication","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"patch":{"tags":["Application"],"summary":"Update Application","description":"Update an existing application","operationId":"updateApplication","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertApplicationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateApplicationResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/{id}/verify":{"patch":{"tags":["Account"],"summary":"Verify Account","description":"Enriches account with supplemental data that missing in the account creation phase.","operationId":"verifyAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyAccountRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/{id}/task/{taskId}/tid":{"patch":{"tags":["Account"],"summary":"Submit Tax ID","description":"Accounts can respond to an invalid Tax ID error by completing this task","operationId":"updateNationalIdentifier","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"taskId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetTaxIdentifierRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/{id}":{"get":{"tags":["Account"],"summary":"Show Account","description":"Show a specific account","operationId":"loadAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Account"],"summary":"Delete Account","description":"Show a specific account","operationId":"deleteAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"patch":{"tags":["Account"],"summary":"Update Account","description":"Update an existing account","operationId":"updateAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertAccountRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/external/{id}":{"patch":{"tags":["Account"],"summary":"Update External Account","description":"Update an existing account using the externalIdentifier to find the account","operationId":"updateExternalAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertAccountRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/webhook/list":{"get":{"tags":["Webhook"],"summary":"Show Webhooks","description":"List all webhooks owned by creating entity","operationId":"showWebhooksByAccountsByOwner","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Webhook"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/webhook/event/list":{"get":{"tags":["Webhook"],"summary":"Show Webhook Event List","description":"List all valid webhook events that can be subsccribed to","operationId":"showWebhookEvents","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KeyValuePair"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/mapping/list":{"get":{"tags":["Mapping"],"summary":"Show Mappings","description":"List all mappings","operationId":"loadMappings","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Mapping"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/managing-entity/{managingEntityIdentifier}":{"get":{"tags":["Managing Entity"],"summary":"Show Managing Entity","description":"Load single managing entity.","operationId":"showManagingEntities","parameters":[{"name":"managingEntityIdentifier","in":"path","description":"Managing entity ID","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManagingEntity"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/managing-entity/list":{"get":{"tags":["Managing Entity"],"summary":"Show Managing Entities","description":"Lists all entities, including user entity, owned by user.","operationId":"showManagingEntities_1","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ManagingEntity"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/hello/error":{"get":{"tags":["Ping"],"summary":"Hello World Error","description":"Test the connection by sending an error message in return.","operationId":"pingError","parameters":[{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/hello":{"get":{"tags":["Ping"],"summary":"Hello World","description":"Test the connection.","operationId":"ping","parameters":[{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/contract/{identifier}":{"get":{"tags":["Contract"],"summary":"Retrieve single contract","description":"Returns a booking contract by its unique identifier.","operationId":"showContract","parameters":[{"name":"identifier","in":"path","description":"Booking contract identifier","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingContract"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/contract/payable/{transientContractIdentifier}":{"get":{"tags":["Contract"],"summary":"Load payable contracts","description":"Returns a transient contract based on specified identifier.","operationId":"showPayableContracts","parameters":[{"name":"transientContractIdentifier","in":"path","description":"Transient contract to retrieve","required":true,"schema":{"type":"string"},"example":"contract-1"},{"name":"currency","in":"query","description":"Desired currency","required":false,"schema":{"type":"string"},"example":"contract-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayableContract"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/contract/list/{traceId}":{"get":{"tags":["Contract"],"summary":"Retrieve multiple contracts","description":"Returns booking contracts matching traceId.","operationId":"showContracts","parameters":[{"name":"traceId","in":"path","description":"Trace identifier","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookingContract"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/application/{id}/revoke":{"get":{"tags":["Application"],"summary":"Revoke Application Credentials","description":"Refreshes the clientId and secretKey properties.","operationId":"revokeApplication","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RevokeClientIdResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/application/list":{"get":{"tags":["Application"],"summary":"Show Applications","description":"List all applications owned by creating entity","operationId":"showApplicationsByUser","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Application"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/{id}/status":{"get":{"tags":["Account"],"summary":"Check Account Status","description":"Returns account status about whether this account has been verified and whether it is active.","operationId":"checkAccountStatus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountStatusResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/{accountIdentifier}/contract/funds":{"get":{"tags":["Contract"],"summary":"Retrieve contract funds","description":"Returns booking contract funds for account identifier.","operationId":"showContractFunds","parameters":[{"name":"accountIdentifier","in":"path","description":"The account owner","required":true,"schema":{"type":"string"}},{"name":"state","in":"query","description":"The optional state to want to receive funds for","required":false,"schema":{"type":"string","enum":["UPCOMING","ACTIVE","COMPLETED","REQUESTING_REFUND","FUNDS_AVAILABLE"]}},{"name":"accountFundsOnly","in":"query","description":"Whether to only returns funds for that account identifier or total funds that account identifier was part of. (defaults to false).","required":false,"schema":{"type":"boolean","default":false},"example":true},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TotalAggregateFunds"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/{accountIdentifier}/contract/capture":{"get":{"tags":["Contract"],"summary":"Retrieve capture currencies","description":"Returns a list of capture currencies and amounts for the account identifier.","operationId":"showCaptureCurrencies","parameters":[{"name":"accountIdentifier","in":"path","required":true,"schema":{"type":"string"}},{"name":"state","in":"query","required":false,"schema":{"type":"string","enum":["UPCOMING","ACTIVE","COMPLETED","REQUESTING_REFUND","FUNDS_AVAILABLE"]}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregateBookingContractCaptureCurrenciesByAccountResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/{accountIdentifier}/contract/aggregate/cancellation":{"get":{"tags":["Contract"],"summary":"Retrieve aggregate cancellation data","description":"Returns aggregate cancellation data this account identifier has participated in.","operationId":"showAggregateCancellationData","parameters":[{"name":"accountIdentifier","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AggregateBookingContractCancellationState"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/{accountIdentifier}/contract/aggregate/beneficiary":{"get":{"tags":["Contract"],"summary":"Retrieve aggregate beneficiary data","description":"Returns aggregate contract data this account identifier has participated in.","operationId":"showAggregateBookingContractData","parameters":[{"name":"type","in":"query","required":false,"schema":{"type":"string","enum":["LODGING","RAIL","AIR","CAR","CRUISE","PACKAGE","ADD_ON","RENTAL","EXPERIENCE","ANCILLARY_BOOKING","ANCILLARY_FEE"]}},{"name":"accountIdentifier","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BeneficiaryAggregateData"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/{accountIdentifier}/message/{messageIdentifier}":{"get":{"tags":["Notification"],"summary":"Show Notification","description":"Retrieve messages for a specific company by ID","operationId":"showNotification","parameters":[{"name":"accountIdentifier","in":"path","description":"Retrieve a message for this company identifier","required":true,"schema":{"type":"string"},"example":"company-1"},{"name":"messageIdentifier","in":"path","description":"Message identifier to be retrieved","required":true,"schema":{"type":"string"},"example":"message-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Notification"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Notification"],"summary":"Delete Notification","description":"Remove announcement specified by its identifier.","operationId":"removeNotification","parameters":[{"name":"accountIdentifier","in":"path","description":"Remove a message that belongs to this company identifier","required":true,"schema":{"type":"string"},"example":"company-1"},{"name":"messageIdentifier","in":"path","description":"Message identifier to be removed","required":true,"schema":{"type":"string"},"example":"message-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Notification"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/{accountIdentifier}/message/list":{"get":{"tags":["Notification"],"summary":"Show Notifications","description":"Retrieve all the messages for this account.","operationId":"showNotifications","parameters":[{"name":"accountIdentifier","in":"path","description":"ID of entity to retrieve stream for","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Notification"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/{accountIdentifier}/message/count":{"get":{"tags":["Notification"],"summary":"Show Unread Count","description":"Retrieve count of unread messages","operationId":"showUnreadMessageCount","parameters":[{"name":"accountIdentifier","in":"path","description":"Show unread message count for this company identifier","required":true,"schema":{"type":"string"},"example":"company-1"},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CountResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/unique/{name}":{"get":{"tags":["Account"],"summary":"Verify Account Name","description":"Check if account name is unique","operationId":"isAccountNameUnique","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"identifier","in":"query","required":false,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UniqueResult"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/search":{"get":{"tags":["Account"],"summary":"Search Accounts by Name","description":"Show accounts matching name","operationId":"searchAccountByName","parameters":[{"name":"name","in":"query","required":true,"schema":{"type":"string"}},{"name":"ignorecase","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KeyValuePair"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/owner/list":{"get":{"tags":["Account"],"summary":"Show Accounts by Owner","description":"List all accounts owned by creating entity","operationId":"showAccountsByOwner","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Account"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/name/{name}":{"get":{"tags":["Account"],"summary":"Show Accounts by Name","description":"Show accounts matching name","operationId":"loadAccountByName","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Account"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/name":{"get":{"tags":["Account"],"summary":"Show Accounts by Name like","description":"Show accounts matching name that are like...","operationId":"loadAccountByNameLike","parameters":[{"name":"name","in":"query","required":true,"schema":{"type":"string"}},{"name":"ignore-case","in":"query","required":false,"schema":{"type":"boolean","default":true}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Account"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/list":{"get":{"tags":["Account"],"summary":"Show Account for User","description":"Load account details for authenticated user","operationId":"loadAccountsForAuthenticatedUser","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Account"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/external/{id}/status":{"get":{"tags":["Account"],"summary":"Check External Account Status","description":"Returns account status about whether this account has been verified and whether it is active.","operationId":"checkExternalAccountStatus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountStatusResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/external/{externalAccountIdentifier}/contract/{bookingContractIdentifier}":{"get":{"tags":["Contract"],"summary":"Retrieve single contract for external account","description":"Loads a booking contract based on external account identifier and actual contract identifier.","operationId":"showContractForExternalAccount","parameters":[{"name":"externalAccountIdentifier","in":"path","description":"Show contract owned by this external account","required":true,"schema":{"type":"string"}},{"name":"bookingContractIdentifier","in":"path","description":"Booking contract identifier","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalBookingContract"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/external/{externalAccountIdentifier}/contract/external/{externalBookingContractIdentifier}":{"get":{"tags":["Contract"],"summary":"Retrieve single contract for external","description":"Loads a booking contract based on external account and contract identifiers.","operationId":"showExternalContract","parameters":[{"name":"externalAccountIdentifier","in":"path","description":"Show contract owned by this external account","required":true,"schema":{"type":"string"}},{"name":"externalBookingContractIdentifier","in":"path","description":"External booking contract identifier","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalBookingContract"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/external/{externalAccountIdentifier}":{"get":{"tags":["Account"],"summary":"Show Account for External","description":"Show a specific account by passing your own external identifier","operationId":"loadExternalAccount","parameters":[{"name":"externalAccountIdentifier","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}},{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}}},"security":[{"oauth2ClientCredentials":[]}]}}},"components":{"schemas":{"UpsertBankAccountRequest":{"type":"object","properties":{"countryCode":{"type":"string","description":"Country of bank account","example":"US","minLength":1},"currencyCode":{"type":"string","description":"Currency of bank account","example":"USD","minLength":1},"accountHolderName":{"type":"string","description":"Bank account holder name","example":12345678,"minLength":1},"swiftCode":{"type":"string","description":"Bank SWIFT code. Unique code identifier the bank and branch of the bank account.","example":"HHKHD"},"routingNumber":{"type":"string","description":"Bank account routing number. This is sort code in HK and Zengin code in JP.","example":12345678},"accountNumber":{"type":"string","description":"Bank account number. In all EU countries, this would be the IBAN. In other countries, the routing number will apply as well.","example":12345678,"minLength":1},"primary":{"type":"boolean","description":"One bank account always needs to be primary."}},"required":["accountHolderName","accountNumber","countryCode","currencyCode","primary"]},"Account":{"type":"object","description":"Account holds KYC, bank account and contact information of an affiliate, supplier, user or any type of entity that is to be a beneficiary of funds through the payment.","properties":{"id":{"type":"string","description":"Document UUID","example":"doc-1"},"createdDate":{"type":"string","format":"date-time","description":"Datetime this record was first created"},"lastUpdate":{"type":"string","format":"date-time","description":"Datetime this record was last updated"},"version":{"type":"integer","format":"int64","description":"Version property that shows how many times this document has been persisted. Document will not persist if the version property is less than current version property in the system. Result in an optimistic locking exception.","example":12},"type":{"type":"string","description":"Type of account tells us what the account is capable of.","enum":["MERCHANT","AFFILIATE","AGENT","FACILITATOR","RATE_PROVIDER","TRIP_PAY"],"example":"MERCHANT"},"ownerType":{"type":"string","description":"Type of account owner tells us whether ths account is managed by a company or an individual.","enum":["COMPANY","INDIVIDUAL"],"example":"COMPANY"},"accountOwnerIdentifier":{"type":"string","description":"The entity that created this account.","example":"account-1","minLength":1},"name":{"type":"string","description":"Name of company / full name of person","example":"My AffiliateAccount","minLength":1},"legalName":{"type":"string","description":"Legal name of entity if other than name","example":"Legal AffiliateAccount 1"},"userIdentifier":{"type":"string","description":"The authenticated user that owns this account.","example":"user-1","minLength":1},"owner":{"$ref":"#/components/schemas/Contact","description":"The owning user entity."},"accountEmail":{"type":"string","description":"Account email is where we will send KYC documents and other account specific mailings","example":"company@acme.com","minLength":1},"accountPhoneNumber":{"type":"string","description":"Account phone number is mostly used for KYC purchases","example":"+1 212 555 1212"},"description":{"type":"string","description":"Short company / person description.","example":"My AffiliateAccount is the best company ever."},"url":{"type":"string","description":"AffiliateAccount website. If private person with no personal website, link to main social network account.","example":"https://trippay.io"},"status":{"type":"string","default":"REGISTERED","description":"Account status shows if it's approved","enum":["REGISTERED","REVIEW","APPROVED","DEACTIVATED","REJECTED"],"example":"APPROVED"},"currencyCode":{"type":"string","description":"Account's main currency.","example":"GBP","maxLength":3,"minLength":3},"address":{"$ref":"#/components/schemas/Address","description":"Account address. Usually the business address"},"acquirers":{"type":"array","items":{"description":"Merchant related codes such as token generation key, merchant identifier, secret keys etc."}},"bankAccounts":{"type":"array","items":{"$ref":"#/components/schemas/BankAccount"}},"ownerTypeIdentifier":{"type":"string","description":"This is the tax identification number (TIN) for individuals and entity identification number (EIN) for companies."},"dob":{"type":"string","format":"date","description":"This is the individual's date of birth."},"tasks":{"type":"array","items":{"description":"Tasks that need to be completed to get the account back in good standing.","example":"Your EIN is incorrect."}},"preferredDisbursementType":{"type":"string","default":"BANK_TRANSFER","description":"The preferred method which the account holder wishes to be paid. This will play a role if we choose to automate the payout flow.","enum":["VIRTUAL_CREDIT_CARD","BANK_TRANSFER"],"example":"BANK_TRANSFER"},"vatID":{"type":"string","description":"An optional VAT ID","example":"vat-1"}},"required":["accountEmail","accountOwnerIdentifier","address","currencyCode","description","name","owner","ownerType","status","type","url","userIdentifier"]},"AcquirerCredentials":{"type":"object","description":"How we interact with the acquirer","properties":{"type":{"type":"string","description":"Type of credentials","enum":["TOKEN","PROFILE_ID","WEBHOOK","SECRET","CLIENT_CREDENTIALS"]},"key1":{"type":"string","description":"A key that can be used as a token","example":"token-1","minLength":1},"key2":{"type":"string","description":"Can be used alongside key1 as credentials","example":"token-2","minLength":1}},"required":["key1","key2","type"]},"Address":{"type":"object","description":"Address information","properties":{"address1":{"type":"string","description":"Address line 1","example":234,"minLength":1},"address2":{"type":"string","description":"Address line 2","example":"Pebble #5001"},"state":{"type":"string","description":"State","example":"CA"},"postalCode":{"type":"string","description":"Postal / zip code","example":90210},"county":{"type":"string","description":"County","example":"Alameda county"},"city":{"$ref":"#/components/schemas/GeoNameLightweight","description":"City geo name object"},"valid":{"type":"boolean","description":"Whether this address is considered valid by the system or not","example":true,"readOnly":true},"fullAddress":{"type":"string","description":"Address 1, Address 2, City, State, Postal / Zip code, Country","example":11,"readOnly":true}},"required":["address1","city"]},"BankAccount":{"type":"object","description":"Accounts use bank accounts to get paid.","properties":{"identifier":{"type":"string","format":"uuid","description":"Unique bank account identifier","example":"identifier-1","minLength":1},"countryCode":{"type":"string","description":"Country of bank account","example":"US","minLength":1},"currencyCode":{"type":"string","description":"Currency of bank account","example":"USD","minLength":1},"accountHolderName":{"type":"string","description":"Bank account holder name","example":"Luxury Resorts","minLength":1},"swiftCode":{"type":"string","description":"Bank SWIFT code. Unique code identifier the bank and branch of the bank account.","example":"HHKHD"},"routingNumber":{"type":"string","description":"Bank account routing number. This is sort code in HK and Zengin code in JP.","example":12345678},"accountNumber":{"type":"string","description":"Bank account number. In all EU countries, this would be the IBAN. In other countries, the routing number will apply as well.","example":12345678,"minLength":1},"primary":{"type":"boolean","description":"One bank account always needs to be primary."}},"required":["accountHolderName","accountNumber","countryCode","currencyCode","identifier","primary"]},"Contact":{"type":"object","properties":{"firstName":{"type":"string","description":"Contact first name","example":"John"},"lastName":{"type":"string","description":"Contact last name","example":"Smith"},"email":{"type":"string","description":"Contact E-mail","example":"johnsmith@email.com"},"secondaryEmail":{"type":"string","description":"Contact secondary Email","example":"johnsmith2@email.com"},"phoneNumber":{"type":"string","description":"Contact phone number","example":"+12125551212"},"fullName":{"type":"string","description":"First and last name","example":"John Smith","readOnly":true},"summary":{"type":"string","description":"Summary","example":"John Smith (johnsmith@gmail.com / +12125551212)","readOnly":true}}},"CountryLightweight":{"type":"object","description":"Country","properties":{"iso":{"type":"string","description":"ISO code","example":"US"},"iso3":{"type":"string","description":"3 character ISO code","example":"USA"},"isoNumeric":{"type":"integer","format":"int32","description":"Numeric ISO code","example":840},"fips":{"type":"string","description":"FIPS country code","example":"US"},"name":{"type":"string","description":"Country name","example":"United States"},"capital":{"type":"string","description":"Country capital","example":"Washington"},"area":{"type":"number","format":"float","description":"Area in square kilometers","example":9629091.0},"population":{"type":"integer","format":"int64","description":"Country population","example":310232863},"continent":{"type":"string","description":"Continent code","example":"NA"},"topLevelDomain":{"type":"string","description":"Country TLD","example":".us"},"currencyCode":{"type":"string","description":"Currency code","example":"USD"},"currencyName":{"type":"string","description":"Currency name","example":"Dollar"},"phone":{"type":"string","description":"Calling code","example":1},"postalCodeFormat":{"type":"string","description":"Postal code format","example":"#####-####"},"postalCodeRegEx":{"type":"string","description":"Postal code regular expression","example":"^d{5}(-d{4})?$"},"languages":{"type":"array","items":{"description":"Language code","example":"en-US"}},"geoNameId":{"type":"string","description":"Country GeoNames identifier","example":6252001},"neighbors":{"type":"array","items":{"description":"Country ISO code","example":"CA"}}}},"GeoJsonPoint":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"type":{"type":"string"},"coordinates":{"type":"array","items":{"type":"number","format":"double"}}}},"GeoNameLightweight":{"type":"object","description":"GeoNames have been created at [https://geonames.org](https://geonames.org) and contain geographical destinations we use as geoname data to associate travel inventory with a location.","properties":{"geoNameId":{"type":"string","description":"GeoName identifier","example":5128581},"type":{"type":"string","description":"GeoNameLightweight type","enum":["CITY","ISLAND","OTHER"]},"name":{"type":"string","description":"Name of city","example":"New York City"},"urlName":{"type":"string","description":"Url name","example":"new-york-city-united-states"},"asciiName":{"type":"string","description":"Ascii name of city","example":"New York City"},"alternateNames":{"type":"array","items":{"description":"An alternate name for the city","example":"NYC"}},"location":{"$ref":"#/components/schemas/GeoJsonPoint","description":"Coordinate points of the city","example":{"type":"POINT","coordinates":[100.5581533,13.7370197]}},"featureClass":{"type":"string"},"featureCode":{"type":"string"},"countryCode":{"type":"string"},"alternateCountryCodes":{"type":"array","items":{"type":"string"}},"admin1Code":{"type":"string"},"admin2Code":{"type":"string"},"admin3Code":{"type":"string"},"admin4Code":{"type":"string"},"population":{"type":"integer","format":"int64","description":"Population of the city","example":8175133},"elevation":{"type":"integer","format":"int32","description":"City elevation","example":10},"digitalElevationModel":{"type":"string"},"timezone":{"type":"string","description":"Timezone","example":"America/New_York"},"modificationDate":{"type":"string","format":"date"},"radiusInMeters":{"type":"integer","format":"int64"},"country":{"$ref":"#/components/schemas/CountryLightweight","description":"Country"},"subCountry":{"$ref":"#/components/schemas/SubCountryLightweight","description":"Country sub division"},"subSubCountry":{"$ref":"#/components/schemas/SubSubCountryLightweight","description":"Country sub sub division"}}},"Integrator":{"type":"object","description":"Payment method with the details describing how to make a payment happen","properties":{"identifier":{"type":"string","description":"Unique identifier.","example":"integrator-1","minLength":1},"name":{"type":"string","description":"Integrator.","example":"Integrator 1","minLength":1},"priority":{"type":"integer","format":"int32","description":"Determines how vendors are displayed in a list","example":"STRIPE"},"vendor":{"type":"string","description":"Name of acquiring vendor","enum":["STRIPE","AGENT","NMI","WISE","TEST"],"example":"STRIPE"},"type":{"type":"string","description":"Technology taking the charge","enum":["CREDIT_CARD","BANK_TRANSFER","PAY_PAL","CRYPTO","AGENT","CASH"],"example":"CREDIT_CARD"},"currencyCode":{"type":"string","description":"Currency in coverage region.","example":"GBP","minLength":1},"credentials":{"type":"array","items":{"$ref":"#/components/schemas/AcquirerCredentials"},"minItems":1},"webhookSecret":{"type":"string"},"publicToken":{"type":"string"}},"required":["credentials","currencyCode","identifier","name","priority","type","vendor"]},"SubCountryLightweight":{"type":"object","description":"Country subdivision such as a state or province","properties":{"code":{"type":"string","description":"Code","example":"US.NY"},"countryCode":{"type":"string","description":"Country code","example":"US"},"subCountryCode":{"type":"string","description":"Sub-country code","example":"NY"},"name":{"type":"string","description":"Sub-country name","example":"New York"},"asciiName":{"type":"string","description":"Sub-country ascii name","example":"New York"},"geoNameId":{"type":"string","description":"Sub-country GeoNames identifier","example":5128638}}},"SubSubCountryLightweight":{"type":"object","properties":{"code":{"type":"string"},"countryCode":{"type":"string"},"subCountryCode":{"type":"string"},"subSubCountryCode":{"type":"string"},"name":{"type":"string"},"asciiName":{"type":"string"},"geoNameId":{"type":"string"}}},"UpsertAccountMappingRequest":{"type":"object","properties":{"localAccountIdentifier":{"type":"string","format":"uuid","description":"Local account identifier is the local identifier","example":"hotel-1","minLength":1},"externalIdentifier":{"type":"string","description":"External identifier is the identifier of this entity in a remote system","example":"hotel-a","minLength":1}},"required":["externalIdentifier","localAccountIdentifier"]},"Mapping":{"type":"object","description":"Mapping record is responsible for mapping a local account identifier with a remote system. When a booking comes in from the remote system, we will know how to properly assign funds to the correct accounts.","properties":{"id":{"type":"string","description":"Document UUID","example":"doc-1"},"createdDate":{"type":"string","format":"date-time","description":"Datetime this record was first created"},"lastUpdate":{"type":"string","format":"date-time","description":"Datetime this record was last updated"},"version":{"type":"integer","format":"int64","description":"Version property that shows how many times this document has been persisted. Document will not persist if the version property is less than current version property in the system. Result in an optimistic locking exception.","example":12},"accountOwnerIdentifier":{"type":"string","description":"The entity that owns this account.","example":"principal-1","minLength":1},"localAccountIdentifier":{"type":"string","description":"Local account identifier is the account identifier of the remote entity within TripPay","example":"hotel-1","minLength":1},"externalIdentifier":{"type":"string","description":"External identifier is the identifier of this entity in a remote system","example":"hotel-a","minLength":1},"accountIdentifier":{"type":"string","description":"Account identifier is the account doing the mapping","example":"account-1","minLength":1},"name":{"type":"string","description":"Name of the entity being mapped","example":"Sheraton Hua Hin","minLength":1}},"required":["accountIdentifier","accountOwnerIdentifier","externalIdentifier","localAccountIdentifier","name"]},"ManagingEntity":{"type":"object","properties":{"identifier":{"type":"string","description":"The value that should be persisted.","example":"company-1","minLength":1},"name":{"type":"string","description":"Text representation of the value.","example":"AffiliateAccount 1","minLength":1},"type":{"type":"string","description":"Type of entity.","enum":["USER","COMPANY","ACCOUNT"],"example":"COMPANY"},"metadata":{"type":"object","additionalProperties":{},"description":"Metadata"}},"required":["identifier","name","type"]},"UpsertWebhookRequest":{"type":"object","properties":{"name":{"type":"string","description":"Descriptive name of webhook.","example":"Webhook prod","minLength":1},"entity":{"$ref":"#/components/schemas/ManagingEntity","description":"Name of the application.","example":"App 1"},"enabled":{"type":"boolean","default":true,"description":"Whether this webhook is enabled.","example":true},"eventUrl":{"type":"string","description":"The url to POST event to.","example":"https://www.webhook.com/event","minLength":1},"eventList":{"type":"array","items":{"description":"The events the listener wants to receive. Leave empty to receive all events.","example":"account.created"}}},"required":["enabled","entity","eventList","eventUrl","name"]},"Webhook":{"type":"object","properties":{"id":{"type":"string","description":"Document UUID","example":"doc-1","minLength":1},"createdDate":{"type":"string","format":"date-time","description":"Datetime this record was first created"},"lastUpdate":{"type":"string","format":"date-time","description":"Datetime this record was last updated"},"version":{"type":"integer","format":"int64","description":"Version property that shows how many times this document has been persisted. Document will not persist if the version property is less than current version property in the system. Result in an optimistic locking exception.","example":12},"userIdentifier":{"type":"string","format":"uuid","description":"Unique owner record identifier","example":"user-1","minLength":1},"ownerIdentifier":{"type":"string","format":"uuid","description":"Unique owner record identifier","example":"travel-tech-1","minLength":1},"ownerName":{"type":"string","description":"Name of company owner.","example":"Travel Tech 1","minLength":1},"ownerType":{"type":"string","description":"Type of entity.","enum":["USER","COMPANY","ACCOUNT"],"example":"COMPANY"},"name":{"type":"string","description":"Descriptive name of webhook.","example":"Webhook prod","minLength":1},"enabled":{"type":"boolean","default":true,"description":"Whether this webhook is enabled.","example":true},"eventUrl":{"type":"string","description":"The url to POST event to.","example":"https://www.webhook.com/event","minLength":1},"eventList":{"type":"array","items":{"description":"The events the listener wants to receive. Leave empty to receive all events.","example":"account.created"}}},"required":["enabled","eventList","eventUrl","id","name","ownerIdentifier","ownerName","ownerType","userIdentifier"]},"CreateMappingRequest":{"type":"object","properties":{"localAccountIdentifier":{"type":"string","format":"uuid","description":"Local account identifier is the local identifier","example":"hotel-1","minLength":1},"externalIdentifier":{"type":"string","description":"External identifier is the identifier of this entity in a remote system","example":"hotel-a","minLength":1},"accountIdentifier":{"type":"string","format":"uuid","description":"Account identifier is the account doing the mapping","example":"account-1","minLength":1},"name":{"type":"string","description":"Name of the entity being mapped","example":"Sheraton Hua Hin","minLength":1}},"required":["accountIdentifier","externalIdentifier","localAccountIdentifier","name"]},"CancelBookingContractRequest":{"type":"object","properties":{"cancellerType":{"type":"string","description":"Who is doing the cancellation","enum":["SALES_CHANNEL","SUPPLIER","TRAVELER"],"example":"SUPPLIER"},"type":{"type":"string","description":"Type of cancellation","enum":["DUPLICATE","CANCELLATION","NO_SHOW","CC_INVALID","CC_INSUFFICIENT","DISCRETIONARY"],"example":"NO_SHOW"},"reason":{"type":"string","description":"Reason for cancellation"}},"required":["cancellerType","reason","type"]},"BookingContractCancellableResponse":{"type":"object","description":"Contract cancellable response object","properties":{"identifier":{"type":"string","format":"uuid","description":"Booking contract identifier"},"cancellable":{"type":"boolean","description":"Whether the booking is cancellable or not"},"list":{"type":"array","items":{"description":"Information about every item within the contract and its policy"}}}},"CustomMonetaryAmount":{"type":"object","properties":{"amount":{"type":"number"},"currency":{"type":"string","minLength":1}},"required":["amount","currency"]},"SupplierContractItemPolicy":{"type":"object","description":"Outlines the policy for this item.","properties":{"refundable":{"type":"boolean","description":"Whether this booking is refundable or not.","example":true},"advanceCancellationFreeOfCharge":{"type":"string","description":"When the cancellation policy is refundable, this flag can be set and indicates there is more rules involved than just a no-questions-asked refundable.","enum":["UNTIL_EIGHTEEN_HUNDRED_HOURS_ON_DAY_OF_ARRIVAL","UNTIL_FOURTEEN_HUNDRED_HOURS_ON_DAY_OF_ARRIVAL","ONE_DAY_BEFORE_ARRIVAL","TWO_DAYS_BEFORE_ARRIVAL","THREE_DAYS_BEFORE_ARRIVAL","FIVE_DAYS_BEFORE_ARRIVAL","SEVEN_DAYS_BEFORE_ARRIVAL","FOURTEEN_DAYS_BEFORE_ARRIVAL","TWENTYONE_DAYS_BEFORE_ARRIVAL","THIRTY_DAYS_BEFORE_ARRIVAL","FOURTY_TWO_DAYS_BEFORE_ARRIVAL","SIXTY_DAYS_BEFORE_ARRIVAL"],"example":"UNTIL_EIGHTEEN_HUNDRED_HOURS_ON_DAY_OF_ARRIVAL"},"refundableCancellationCharge":{"type":"string","description":"If advanceCancellationFreeOfCharge rules is not honored, this property explains what the guest will be charged.","enum":["FIRST_NIGHT","THIRTY_PERCENT","FIFTY_PERCENT","SIXTY_PERCENT","SEVENTY_PERCENT","NINENTY_PERCENT","ONE_HUNDRED_PERCENT"],"example":"FIFTY_PERCENT"},"noShowCharge":{"type":"string","description":"In case the 'Refundable cancellation charge' is set, a different no show charge can be applied.","enum":["SAME_AS_CANCELLATION_FEE","ONE_HUNDRED_PERCENT_OF_TOTAL_CHARGE"],"example":"SAME_AS_CANCELLATION_FEE"},"nonRefundableCancellationCharge":{"type":"string","description":"When the cancellation policy is non-refundable, this flag can be set and indicates there is more rules involved to calculate what the guest will owe in case of a cancellation.","enum":["FIRST_NIGHT","TEN_PERCENT","THIRTY_PERCENT","FIFTY_PERCENT","SEVENTY_PERCENT"],"example":"SEVENTY_PERCENT"},"nonRefundableDeadline":{"type":"string","description":"The non-refundable charge might can have a deadline. If that deadline passes, the guest might be charged more.","enum":["ONE_DAY_BEFORE_ARRIVAL","TWO_DAYS_BEFORE_ARRIVAL","THREE_DAYS_BEFORE_ARRIVAL","FIVE_DAYS_BEFORE_ARRIVAL","SEVEN_DAYS_BEFORE_ARRIVAL","FOURTEEN_DAYS_BEFORE_ARRIVAL","TWENTYONE_DAYS_BEFORE_ARRIVAL","THIRTY_DAYS_BEFORE_ARRIVAL","FOURTY_TWO_DAYS_BEFORE_ARRIVAL","SIXTY_DAYS_BEFORE_ARRIVAL"],"example":"SEVEN_DAYS_BEFORE_ARRIVAL"},"nonRefundableAfterDeadlineCancellationCharge":{"type":"string","description":"If the guest does not honor the non-refundable deadline rule, this charge dictates what she owes after the deadline passes.","enum":["FIRST_NIGHT","TEN_PERCENT","THIRTY_PERCENT","FIFTY_PERCENT","SEVENTY_PERCENT","ONE_HUNDRED_PERCENT"],"example":"ONE_HUNDRED_PERCENT"},"externalIdentifier":{"type":"string","description":"Optional geoname externalIdentifier to remote policy.","example":"policy-1"},"fullyRefundable":{"type":"boolean","readOnly":true},"partiallyRefundable":{"type":"boolean","readOnly":true}},"required":["refundable"]},"AuthenticatedUser":{"type":"object","properties":{"userIdentifier":{"type":"string","format":"uuid","description":"User identifier"},"firstName":{"type":"string","description":"First name","example":"John","minLength":1},"lastName":{"type":"string","description":"Last name","example":"Smith","minLength":1},"email":{"type":"string","format":"email","description":"Email","example":"john.smith@email.com","minLength":1},"fullName":{"type":"string","description":"Full name","example":"John Smith","readOnly":true}},"required":["email","firstName","lastName"]},"BeneficiaryCharge":{"type":"object","description":"A variable charge can be a fixed amount or a percentage.","properties":{"type":{"type":"string","description":"The type of charge","enum":["PERCENTAGE","REMAINDER"]},"percent":{"type":"number","description":"A percentage of the total stay amount for an early checkin or late checkout"}},"required":["type"]},"GuestUser":{"type":"object","properties":{"userIdentifier":{"type":"string","format":"uuid","description":"User identifier"},"firstName":{"type":"string","description":"First name","example":"John","minLength":1},"lastName":{"type":"string","description":"Last name","example":"Smith","minLength":1},"email":{"type":"string","format":"email","description":"Email","example":"john.smith@email.com","minLength":1},"telephone":{"type":"string","description":"Telephone","example":"+1 212 555 1212"},"profile":{"$ref":"#/components/schemas/ProfileLightweight","description":"Optional profile record"},"fullName":{"type":"string","description":"Full name","example":"John Smith","readOnly":true}},"required":["email","firstName","lastName"]},"PayableContractRequest":{"type":"object","properties":{"user":{"$ref":"#/components/schemas/AuthenticatedUser","description":"The user making the booking"},"affiliateAccountIdentifier":{"type":"string","description":"affiliate account making the request","minLength":1},"affiliateAccountIdentifierType":{"type":"string","description":"Type of identifier this is","enum":["INTERNAL","EXTERNAL"]},"displayCurrency":{"type":"string","default":"USD","description":"The desired quote","example":"USD","minLength":1},"contractList":{"type":"array","items":{"$ref":"#/components/schemas/PayableContractSupplier"},"maxItems":2147483647,"minItems":1},"traceId":{"type":"string","description":"Integrator can choose to include a unique identifier to help identify the collection of bookings","example":"trace-1"},"redirectUrl":{"type":"string","description":"Where to redirect to after booking [in-]complete","minLength":1},"sourceUrl":{"type":"string","description":"Where the booking originate from","minLength":1},"metadata":{"type":"object","additionalProperties":{"type":"string"},"description":"Place to add more data related to the booking contract."}},"required":["affiliateAccountIdentifier","affiliateAccountIdentifierType","contractList","displayCurrency","redirectUrl","sourceUrl","user"]},"PayableContractSupplier":{"type":"object","description":"Details of the booking entries that went in for one particular supplier directly.","properties":{"identifier":{"type":"string","format":"uuid","description":"Unique identifier used to track the contract. Will auto-generate on if doesn't exist.","example":"unique-supplier-booking-contract-1"},"supplierIdentifier":{"type":"string","format":"uuid","description":"Supplier identifier ","example":"supplier-a","minLength":1},"supplierIdentifierType":{"type":"string","description":"Indicates whether the supplierIdentifier can be found internally or is mapped via an external identifier","enum":["INTERNAL","EXTERNAL"],"example":"EXTERNAL"},"contractItemList":{"type":"array","items":{"$ref":"#/components/schemas/PayableContractSupplierItem"},"maxItems":2147483647,"minItems":1},"externalSupplierBookingCode":{"type":"string","description":"External booking code generated by the affiliate","example":"external-booking-code-1"},"externalTransactionIdentifier":{"type":"string","description":"External transaction identifier populated when agent responsible for acquiring","example":"external-transaction-1"},"metadata":{"type":"object","additionalProperties":{"type":"string"},"description":"Place to add more data related to the booking contract."}},"required":["contractItemList","supplierIdentifier","supplierIdentifierType"]},"PayableContractSupplierItem":{"type":"object","description":"Holds one booking line item for a specific supplier.","properties":{"user":{"$ref":"#/components/schemas/GuestUser","description":"Person doing the booking."},"nameInEnglish":{"type":"string","description":"Name of item in English included in booking.","example":"Deluxe King","minLength":1},"descriptionInEnglish":{"type":"string","description":"Short description in English of item included in booking.","example":"This is the best deluxe king that money can buy.","minLength":1},"price":{"$ref":"#/components/schemas/CustomMonetaryAmount","description":"Raw incoming price."},"itinerary":{"$ref":"#/components/schemas/SimpleDateTimeItinerary"},"pricingType":{"type":"string","description":"Indicates the way this item should be priced.","enum":["PER_STAY","PER_DAY","PER_NIGHT","PER_USE","PER_HOUR","PER_PERSON","PER_PERSON_PER_NIGHT","PER_PERSON_PER_HOUR","PER_ADULT","PER_ADULT_PER_NIGHT","PER_ADULT_PER_HOUR","PER_CHILD","PER_CHILD_PER_NIGHT","PER_CHILD_PER_HOUR"]},"type":{"type":"string","description":"Type of item this is.","enum":["LODGING","RAIL","AIR","CAR","CRUISE","PACKAGE","ADD_ON","RENTAL","EXPERIENCE","ANCILLARY_BOOKING","ANCILLARY_FEE"],"example":"LODGING"},"beneficiaryList":{"type":"array","items":{"$ref":"#/components/schemas/PayableContractSupplierItemBeneficiary"},"maxItems":2147483647,"minItems":1},"payable":{"type":"string","description":"When to charge for this item.","enum":["IMMEDIATE","ARRIVAL","DEPARTURE","AGENT"],"example":"PREPAY"},"policy":{"$ref":"#/components/schemas/SupplierContractItemPolicy"},"externalIdentifier":{"type":"string","description":"Optional geoname externalIdentifier to remote inventory.","example":"room-type-1"},"dailyRateList":{"type":"array","items":{"description":"List of daily rates in the case of lodging"}},"metadata":{"type":"object","additionalProperties":{"type":"string"},"description":"Place to add more data related to the booking contract item."}},"required":["beneficiaryList","descriptionInEnglish","itinerary","nameInEnglish","payable","price","pricingType","type","user"]},"PayableContractSupplierItemBeneficiary":{"type":"object","description":"PayableContractSupplierItemBeneficiary is a registered account with rights to compensation within a booking.","properties":{"identifier":{"type":"string","description":"identifier of beneficiary that can map to an account with us","example":"account-1","minLength":1},"identifierType":{"type":"string","description":"The identifierType tells us what type of identifier this is","enum":["INTERNAL","EXTERNAL"],"example":"INTERNAL"},"amountDue":{"$ref":"#/components/schemas/BeneficiaryCharge"},"type":{"type":"string","description":"The type of beneficiary payment.","enum":["TRIP_PAY","PLATFORM_FEE","COMMISSION","AFFILIATE_AGENCY_FEE","SUPPLIER_AGENCY_FEE","SALE"]},"metadata":{"type":"object","additionalProperties":{"type":"string"},"description":"Place to add more data related to the booking contract."}},"required":["amountDue","identifier","identifierType","type"]},"Personal":{"type":"object","properties":{"gender":{"type":"string","description":"Identifier the gender of the customer.","enum":["MALE","FEMALE","OTHER"]},"birthDate":{"type":"string","format":"date","description":"Indicates the date of birth as indicated in the document, in ISO 8601 prescribed format."},"maritalStatus":{"type":"string","description":"Marital status of the traveler.","enum":["ANNULLED","COHABITATING","DIVORCED","ENGAGED","MARRIED","SEPARATED","SINGLE","WIDOWED","UNKNOWN"]},"childQuantity":{"type":"integer","format":"int32","description":"The number of children of the customer."},"citizenship":{"type":"string","description":"Name of the (self-professed) country that is clamided for citizenship."},"address1":{"type":"string","description":"Address line 1"},"address2":{"type":"string","description":"Address line 2"},"city":{"type":"string","description":"City"},"state":{"type":"string","description":"State"},"postalCode":{"type":"string","description":"Postal code"},"country":{"type":"string","description":"Country"},"preferredCurrency":{"type":"string","description":"Type of funds preferred for reviewing monetary values, in ISO 4217 codes","example":"USD"},"language":{"type":"string","description":"The primary language of the customer"},"contactPerson":{"type":"array","items":{"description":"Array of emergency contact information for the customer"}},"physChallName":{"type":"array","items":{"description":"Array of customer's physical challenges"}},"petInfo":{"type":"array","items":{"description":"Array of customer's pets"}}}},"Preferences":{"type":"object","properties":{"propertyLocationPref":{"type":"string","description":"Indicates preference for hotel property locations."},"propertyTypePref":{"type":"string","description":"Indicates preference for hotel property types."},"hotelChainPref":{"type":"string","description":"Identifies a preferred company by name."},"propertyAmenityPref":{"type":"array","items":{"type":"string"}},"recreationSrvcPref":{"type":"array","items":{"type":"string"}},"businessSrvcPref":{"type":"array","items":{"type":"string"}},"securityFeaturePref":{"type":"array","items":{"type":"string"}},"physChalFeaturePref":{"type":"array","description":"Indicates preferences for type of features required to meet the needs of persons with physical challenges, disabilities, etc.","items":{"type":"string"}},"smokingAllowed":{"type":"boolean","description":"Indicates preference for smooking allowed rooms.."},"roomLocationPref":{"type":"string","description":"Indicates preference for hotel room locations."},"bedTypePref":{"type":"string","description":"Indicates preferences for the size and features of hotel bed types."},"foodSrvcPref":{"type":"string","description":"Indicates preferences for type of food listener facilities in a hotel."},"roomAmenityPref":{"type":"array","items":{"type":"string"}},"guestType":{"type":"string","description":"Guest type"},"mealPref":{"type":"string","description":"Indicates meal preference."},"cuisinePref":{"type":"string","description":"Indicates cuisine preference."},"interestPref":{"type":"array","items":{"type":"string"}},"beveragePref":{"type":"array","items":{"type":"string"}},"foodPref":{"type":"array","items":{"type":"string"}},"allergies":{"type":"array","items":{"type":"string"}},"petsPref":{"type":"array","items":{"type":"string"}}}},"ProfileLightweight":{"type":"object","properties":{"profileIdentifier":{"type":"string","format":"uuid","description":"Profile identifier","minLength":1},"userIdentifier":{"type":"string","format":"uuid","description":"User identifier","minLength":1},"share":{"type":"boolean","description":"Indicates whether the user wants to share this profile of themselves with hotel(s)"},"user":{"$ref":"#/components/schemas/ProfileUser","description":"User details"},"personal":{"$ref":"#/components/schemas/Personal","description":"Detailed customer information for this profile"},"preferences":{"$ref":"#/components/schemas/Preferences","description":"Customer preferences"}},"required":["personal","preferences","profileIdentifier","share","user","userIdentifier"]},"ProfileUser":{"type":"object","properties":{"firstName":{"type":"string","description":"First name","example":"Avid"},"lastName":{"type":"string","description":"Last name","example":"Travelman"},"email":{"type":"string","format":"email","description":"Email","example":"avid@travelman.com"},"phone":{"type":"string","description":"Telephone","example":"0123456789"},"profilePictureUrl":{"type":"string","description":"Profile picture URL"},"fullName":{"type":"string","description":"Full name","example":"John Smith","readOnly":true}}},"SimpleDateTimeItinerary":{"type":"object","description":"SimpleDateTimeItinerary outlines stay dates, number of adults and children","properties":{"startDate":{"type":"string","format":"date-time","description":"Start date"},"endDate":{"type":"string","format":"date-time","description":"End date"},"adults":{"type":"integer","format":"int32","description":"Number of adults","minimum":0},"children":{"type":"integer","format":"int32","description":"Number of children","minimum":0},"hours":{"type":"integer","format":"int64","description":"Number of hours between start and end dates. Used for itineraries that require bookings that occur within hours and not days. E.g. Meeting room reservation.","readOnly":true},"guests":{"type":"integer","format":"int32","description":"Total number of adults and children","readOnly":true},"nights":{"type":"integer","format":"int64","description":"Total number of room nights","readOnly":true}},"required":["adults","children","endDate","startDate"]},"PayableContractResponse":{"type":"object","description":"Details of the booking entries that went in for one particular supplier directly.","properties":{"id":{"type":"string","description":"TripPay supplierContractIdentifier for payment widget","example":"contract-1"},"traceId":{"type":"string","description":"Groups all booking contracts submitted at the same time","example":"trace-1"},"supplierContractIdentifier":{"type":"string","format":"uuid","description":"Unique supplierContractIdentifier used to track the contract. Create a UUID for this purpose.","example":"unique-supplier-booking-contract-1","minLength":1},"supplierIdentifier":{"type":"string","format":"uuid","description":"Supplier supplierContractIdentifier","example":"supplier-1","minLength":1},"supplierName":{"type":"string","description":"Supplier name","example":"Supplier One","minLength":1},"externalSupplierIdentifier":{"type":"string","description":"Track supplier with its external supplier supplierContractIdentifier","example":"external-supplier-a","minLength":1},"externalSupplierBookingCode":{"type":"string","description":"External booking code generated by the affiliate","example":"external-booking-code-1","minLength":1},"externalTransactionIdentifier":{"type":"string","description":"External transaction supplierContractIdentifier populated when agent responsible for acquiring","example":"external-transaction-1"},"totalPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalDisplayPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalSupplierPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalInternalPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalCapturePrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"}},"required":["externalSupplierBookingCode","externalSupplierIdentifier","id","supplierContractIdentifier","supplierIdentifier","supplierName","totalCapturePrice","totalDisplayPrice","totalInternalPrice","totalPrice","totalSupplierPrice"]},"CreateAgentSaleRequest":{"type":"object","properties":{"contract":{"$ref":"#/components/schemas/PayableContractRequest","description":"contract that started it all"}},"required":["contract"]},"Beneficiary":{"type":"object","description":"Beneficiary is a registered account with rights to compensation within a booking.","properties":{"accountIdentifier":{"type":"string","description":"accountIdentifier of beneficiary that can map to an account with us","example":"account-1","minLength":1},"accountName":{"type":"string","description":"accountName of beneficiary that can map to an account with us","example":"Account 1","minLength":1},"accountEmail":{"type":"string","description":"accountEmail of beneficiary that can map to an account with us","example":"account@one.com","minLength":1},"accountUrl":{"type":"string","description":"accountUrl of beneficiary that can map to an account with us","example":"https://some.url"},"type":{"type":"string","description":"The type of beneficiary payment.","enum":["TRIP_PAY","PLATFORM_FEE","COMMISSION","AFFILIATE_AGENCY_FEE","SUPPLIER_AGENCY_FEE","SALE"]},"amountDue":{"$ref":"#/components/schemas/BeneficiaryCharge","description":"The original slice requested"},"sourceCurrency":{"type":"string","description":"The source currency","example":"USD","minLength":1},"displayCurrency":{"type":"string","description":"The display currency","example":"USD","minLength":1},"supplierCurrency":{"type":"string","description":"The supplier currency","example":"USD","minLength":1},"internalCurrency":{"type":"string","description":"The internal currency","example":"USD","minLength":1},"captureCurrency":{"type":"string","description":"The capture currency","example":"USD","minLength":1},"sourceAmount":{"type":"number","description":"Amount in source currency","example":50,"minimum":0},"displayAmount":{"type":"number","description":"Amount in display currency","example":50,"minimum":0},"supplierAmount":{"type":"number","description":"Amount in supplier currency","example":50,"minimum":0},"internalAmount":{"type":"number","description":"Amount in internal currency","example":50,"minimum":0},"captureAmount":{"type":"number","description":"Amount in capture currency","example":50,"minimum":0},"sourceAmountRefundModifier":{"type":"number","description":"The delta from the original source amount after a refund occurred","example":5,"minimum":0},"displayAmountRefundModifier":{"type":"number","description":"The delta from the original display amount after a refund occurred","example":5,"minimum":0},"supplierAmountRefundModifier":{"type":"number","description":"The delta from the original supplier amount after a refund occurred","example":5,"minimum":0},"internalAmountRefundModifier":{"type":"number","description":"The delta from the original internal amount after a refund occurred","example":5,"minimum":0},"captureAmountRefundModifier":{"type":"number","description":"The delta from the original capture amount after a refund occurred","example":5,"minimum":0},"pendingRefunds":{"type":"array","items":{"description":"When a refund is first requested, it ends up here. Once it is applied, it moves out of this list and into the parent modifier property"}},"netSourceAmount":{"type":"number","description":"Source amount minus source modifier.","minimum":0},"netDisplayAmount":{"type":"number","description":"Display amount minus display modifier.","minimum":0},"netSupplierAmount":{"type":"number","description":"Supplier amount minus supplier modifier.","minimum":0},"netInternalAmount":{"type":"number","description":"Internal amount minus internal modifier.","minimum":0},"netCaptureAmount":{"type":"number","description":"Capture amount minus capture mo
[...]
