{"openapi":"3.0.1","info":{"title":"Wink Payment API","description":"A programmatic way to create bookings, receive payment and disburse funds globally.\n\n## APIs\nNot every integrator needs every APIs. For that reason, we have separated APIs into context.\n\n- [Affiliate](/affiliate): All APIs related to selling travel inventory as an affiliate.\n- [Analytics](/analytics): All APIs related to tracking metrics across a wide variety of data source segments including, more entertaining, leaderboard metrics.\n- [Booking](/booking): All APIs related to creating platform bookings.\n- [Channel Manager](/channel-manager): All APIs related to channel managers who want to integrate with our platform.\n- [Extranet](/extranet): All APIs related to managing travel inventory and suppliers.\n- [Inventory](/inventory): All APIs related to retrieve known travel inventory as it was found using the Lookup API..\n- [Lookup](/lookup): All APIs related to locating inventory by region, locale and property flags.\n- [Reference](/reference): All APIs related to retrieving platform-supported taxonomies.\n- [TripPay](/payment): All APIs related to TripPay account management, booking, mapping and integration features.\n\n## SDKs\nWe are actively working on supporting the most used languages out there. If you don't see your language here, reach out to us with a request to officially add your language. In the meantime, if you want to roll your own SDK, you can do so by downloading the OpenAPI spec and using one of the many available OpenAPI generators available: [https://openapi-generator.tech/docs/generators](https://openapi-generator.tech/docs/generators).\n\n- Java SDK [https://github.com/wink-travel/trip-pay-sdk-java](https://github.com/wink-travel/trip-pay-sdk-java)\n\n# Usage\nThese features are made available to you via a [REST API](https://en.wikipedia.org/wiki/Representational_state_transfer). This API is language agnostic. We will link to SDKs for the most popular programming languages on this page as they become available.\n\n## Versioning\nWe chose to version our endpoints in a way that we hope affects your integration with us the least. You request the version of our API you wish to work with via the `Wink-Version` header. When it's time for you to upgrade, you only have to change the version number to get access to our updated endpoints.\n\n## Release history\n- 2022-10-15: v2.0 - Removed HATEOAS and added Wink-Version header\n- 2021-12-01: v1 - Initial release\n","contact":{"name":"Bjorn Harvold","email":"bjorn@wink.travel"},"version":"28.1.3-SNAPSHOT","x-logo":{"backgroundColor":"#FFFFFF","altText":"TripPay logo","url":"https://res.cloudinary.com/traveliko/image/upload/c_scale,h_90/v1632220708/trippay/brand/TP_logo_v2_PURPLE_trans.png"}},"externalDocs":{"description":"TripPay API","url":"https://trippay.atlassian.net/l/c/iS7yRWQM"},"servers":[{"url":"https://api.trippay.io","description":"Production endpoint"},{"url":"https://staging-api.trippay.io","description":"Sandbox endpoint"},{"url":"https://dev-api.trippay.io","description":"Developer endpoint"}],"tags":[{"name":"Account Mappings","description":"Use the Account Mapping API to manage a single account's mapping with TripPay accounts."},{"name":"Mapping","description":"Use the Mapping API to search for, create and map your properties against TripPay properties."},{"name":"Ping","description":"Testing endpoints"},{"name":"Agent","description":"Create a booking as an agent."},{"name":"Affiliate","description":"Affiliate related endpoint."},{"name":"Contract","description":"Booking contract related functionality."},{"name":"Account","description":"Use the Account API to manage accounts on TripPay."},{"name":"Webhook","description":"Use the Webhook API to create webhooks to interface with the TripPay API."},{"name":"Acquiring","description":"Use the Acquiring API to help facilitate our payment flows."},{"name":"Managing entity","description":"Managed entities can be bound to applications and webhooks."},{"name":"Application","description":"Use the Application API to create applications to interface with the TripPay API."}],"paths":{"/api/account/{id}/bankaccount/{bankAccountId}":{"put":{"tags":["Account"],"summary":"Update Bank Account","description":"Update an existing bank account for an existing account using local account identifier","operationId":"upsertAccountBankAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"bankAccountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertBankAccountRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Account"],"summary":"Remove Bank Account","description":"Remove an existing bank account for an existing account using local account identifier","operationId":"removeAccountBankAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"bankAccountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/{accountIdentifier}/mapping/{id}":{"get":{"tags":["Account Mappings"],"summary":"Show Account Mapping","description":"Show a specific mapping by account and mapping identifier","operationId":"loadAccountMapping","parameters":[{"name":"accountIdentifier","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Mapping"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"put":{"tags":["Account Mappings"],"summary":"Update Account Mapping","description":"Update an existing mapping owned by account identifier.","operationId":"updateAccountMapping","parameters":[{"name":"accountIdentifier","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAccountMappingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Mapping"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Account Mappings"],"summary":"Delete Account Mapping","description":"Delete a specific mapping owned by account identifier.","operationId":"removeAccountMapping","parameters":[{"name":"accountIdentifier","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/external/{id}/bankaccount/{bankAccountId}":{"put":{"tags":["Account"],"summary":"Update Bank Account for External","description":"Update an existing bank account for an account using the external account identifier","operationId":"upsertExternalAccountBankAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"bankAccountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertBankAccountRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Account"],"summary":"Remove Bank Account for External","description":"Remove an existing bank account for an account using the external account identifier","operationId":"removeExternalAccountBankAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"bankAccountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/contract/validate":{"post":{"tags":["Contract"],"summary":"Validate contract","description":"Validates an incoming raw booking contract request for syntax, price and more.","operationId":"validate","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidateBookingContractRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidateBookingContractResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/contract/price/acquirer":{"post":{"tags":["Contract"],"summary":"Price acquirer contract","description":"Displays booking contract in requested display quote as well as the selected acquirer's currency","operationId":"price","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PriceSupplierContractWithAcquirerRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PriceSupplierContractWithAcquirerResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/contract/price":{"post":{"tags":["Contract"],"summary":"Price contract","description":"Displays booking contract in requested display quote","operationId":"price_1","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PriceBookingContractRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PriceBookingContractResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/contract/affiliate/details":{"post":{"tags":["Affiliate"],"summary":"Show Affiliate Details","description":"Returns basic affiliate details.","operationId":"showAffiliateDetails","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AffiliateDetailsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AffiliateDetailsResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/webhook":{"post":{"tags":["Webhook"],"summary":"Create Webhook","description":"Create a new webhook","operationId":"createWebhook","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertWebhookRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Webhook"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/mapping":{"post":{"tags":["Mapping"],"summary":"Create Mapping","description":"Create a mapping between two accounts","operationId":"createMapping","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMappingRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Mapping"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/contract/{identifier}/cancellable":{"post":{"tags":["Contract"],"summary":"Contract cancellable","description":"Returns whether a booking can be cancelled or not and any rules associated with cancelling.","operationId":"isContractCancellable","parameters":[{"name":"identifier","in":"path","description":"Booking contract identifier","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelBookingContractRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingContractCancellableResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/contract/payment/agent/sale":{"post":{"tags":["Agent"],"summary":"Create Agent Sale","description":"Attempt an immediate sale with Agent as acquirer. Checks for valid funds in account before booking instruction.","operationId":"createAgentSale","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentSaleRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MultiBookingContractResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/contract/list/{traceId}/cancellable":{"post":{"tags":["Contract"],"summary":"Group contract cancellable","description":"Returns whether a booking can be cancelled or not and any rules associated with cancelling.","operationId":"isGroupContractCancellable","parameters":[{"name":"traceId","in":"path","description":"Booking contract traceId","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelBookingContractRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookingContractCancellableResponse"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/application":{"post":{"tags":["Application"],"summary":"Create Application","description":"Create a new application","operationId":"createApplication","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertApplicationRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateApplicationResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/acquiring/stripe/sale":{"post":{"tags":["Acquiring"],"summary":"Complete Stripe Capture","description":"Upon a successful card capture, we store customer details for later use.","operationId":"captureSale","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateStripeSaleRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingContractResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/acquiring/stripe/payment/intent":{"post":{"tags":["Acquiring"],"summary":"Create Stripe Payment Intent","description":"Creates a Stripe PaymentIntent and creates a new customer for that intent.","operationId":"createPaymentIntent","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePaymentIntentRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePaymentIntentResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/{id}/bankaccount":{"post":{"tags":["Account"],"summary":"Add Bank Account","description":"Add a bank account to an existing account using local account identifier","operationId":"createAccountBankAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertBankAccountRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/{accountIdentifier}/mapping/grid":{"post":{"tags":["Account Mappings"],"summary":"Show Account Mappings","description":"List all mappings belonging to a specific account.","operationId":"loadAccountMappingGrid","parameters":[{"name":"accountIdentifier","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/State"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageMapping"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/{accountIdentifier}/mapping":{"post":{"tags":["Account Mappings"],"summary":"Create Account Mapping","description":"Create a mapping between a local account and a remote account.","operationId":"createAccountMapping","parameters":[{"name":"accountIdentifier","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAccountMappingRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Mapping"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/external/{id}/bankaccount":{"post":{"tags":["Account"],"summary":"Add Bank Account to External","description":"Add a bank account to an existing account using the external account identifier","operationId":"createExternalAccountBankAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertBankAccountRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account":{"post":{"tags":["Account"],"summary":"Create Account","description":"Create a new account","operationId":"createAccount","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAccountRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/webhook/{id}":{"get":{"tags":["Webhook"],"summary":"Show Webhook","description":"Show a specific webhook","operationId":"loadWebhook","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Webhook"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Webhook"],"summary":"Delete Webhook","description":"Remove a specific webhook","operationId":"deleteWebhook","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"patch":{"tags":["Webhook"],"summary":"Update Webhook","description":"Update an existing webhook","operationId":"updateWebhook","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertWebhookRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Webhook"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/mapping/{id}":{"get":{"tags":["Mapping"],"summary":"Show Mapping","description":"Show a specific mapping contract","operationId":"loadMapping","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Mapping"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Mapping"],"summary":"Delete Mapping","description":"Delete a specific mapping contract","operationId":"removeMapping","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Mapping"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"patch":{"tags":["Mapping"],"summary":"Update Mapping","description":"Update a mapping name only","operationId":"updateMapping","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMappingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Mapping"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/mapping/external/{id}":{"get":{"tags":["Mapping"],"summary":"Show External Mapping","description":"Show a specific mapping contract by external identifier","operationId":"loadMappingByExternalIdentifier","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Mapping"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Mapping"],"summary":"Delete External Mapping","description":"Delete a specific mapping contract based on its external identifier","operationId":"removeMappingByExternalIdentifier","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Mapping"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"patch":{"tags":["Mapping"],"summary":"Update External Mapping","description":"Update a mapping name only","operationId":"updateMappingByExternalIdentifier","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMappingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Mapping"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/contract/{identifier}/request-refund":{"patch":{"tags":["Contract"],"summary":"Request refund","description":"Requests a refund for a booking contract. Creates a refund request record that needs to be approved by a payment admin.","operationId":"requestRefund","parameters":[{"name":"identifier","in":"path","description":"Booking contract identifier","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefundRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingContract"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/contract/{identifier}/immediate-refund":{"patch":{"tags":["Contract"],"summary":"Immediate refund","description":"In the event that a booking is not possible on the partner site due to lack of availability, or similar. This endpoint offers a 3-minute window to let that partner refund the traveler 100% of her funds.","operationId":"immediateRefund","parameters":[{"name":"identifier","in":"path","description":"Booking contract identifier","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"description":"Accompanying payload that described the optional reason for using this endpoint.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImmediateRefundRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingContract"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/contract/{identifier}/cancel":{"patch":{"tags":["Contract"],"summary":"Cancel booking","description":"Cancels a booking contract. Based on the type of cancellation policy, will do a refund or partial refund to the payment method.","operationId":"cancelBookingContract","parameters":[{"name":"identifier","in":"path","description":"Booking contract identifier","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelBookingContractRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingContract"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/contract/list/{traceId}/immediate-refund":{"patch":{"tags":["Contract"],"summary":"Immediate group refund","description":"In the event that a booking is not possible on the partner site due to lack of availability, or similar. This endpoint offers a 3-minute window to let that partner refund the traveler 100% of her funds.","operationId":"immediateGroupRefund","parameters":[{"name":"traceId","in":"path","description":"Booking contract traceId","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"description":"Accompanying payload that described the optional reason for using this endpoint.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImmediateRefundRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookingContract"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/contract/list/{traceId}/cancel":{"patch":{"tags":["Contract"],"summary":"Cancel group bookings","description":"Cancels a group booking contract. All bookings under the same traceId.","operationId":"cancelGroupBookingContract","parameters":[{"name":"traceId","in":"path","description":"Booking contract traceId","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelBookingContractRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookingContract"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/application/{id}":{"get":{"tags":["Application"],"summary":"Show Application","description":"Show a specific application","operationId":"loadApplication","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Application"],"summary":"Delete Application","description":"Remove a specific application","operationId":"deleteApplication","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"patch":{"tags":["Application"],"summary":"Update Application","description":"Update an existing application","operationId":"updateApplication","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertApplicationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateApplicationResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/{id}/verify":{"patch":{"tags":["Account"],"summary":"Verify Account","description":"Enriches account with supplemental data that missing in the account creation phase.","operationId":"verifyAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyAccountRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/{id}/task/{taskId}/tid":{"patch":{"tags":["Account"],"summary":"Submit Tax ID","description":"Accounts can respond to an invalid Tax ID error by completing this task","operationId":"updateNationalIdentifier","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"taskId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetTaxIdentifierRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/{id}":{"get":{"tags":["Account"],"summary":"Show Account","description":"Show a specific account","operationId":"loadAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"delete":{"tags":["Account"],"summary":"Delete Account","description":"Show a specific account","operationId":"deleteAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntryResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]},"patch":{"tags":["Account"],"summary":"Update Account","description":"Update an existing account","operationId":"updateAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAccountRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/external/{id}":{"patch":{"tags":["Account"],"summary":"Update External Account","description":"Update an existing account using the externalIdentifier to find the account","operationId":"updateExternalAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAccountRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/webhook/list":{"get":{"tags":["Webhook"],"summary":"Show Webhooks","description":"List all webhooks owned by creating entity","operationId":"showWebhooksByAccountsByOwner","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Webhook"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/webhook/event/list":{"get":{"tags":["Webhook"],"summary":"Show Webhook Event List","description":"List all valid webhook events that can be subsccribed to","operationId":"showWebhookEvents","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KeyValuePair"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/mapping/list":{"get":{"tags":["Mapping"],"summary":"Show Mappings","description":"List all mappings","operationId":"loadMappings","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Mapping"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/managing-entity/list":{"get":{"tags":["Managing entity"],"summary":"Show Managing Entities","description":"Lists all entities, including user entity, owned by user.","operationId":"showManagingEntities","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ManagingEntity"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/hello/error":{"get":{"tags":["Ping"],"summary":"Hello World Error","description":"Test the connection by sending an error message in return.","operationId":"pingError","parameters":[{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/hello":{"get":{"tags":["Ping"],"summary":"Hello World","description":"Test the connection.","operationId":"ping","parameters":[{"name":"Accept","in":"header","schema":{"type":"string","enum":["application/json"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/contract/{identifier}":{"get":{"tags":["Contract"],"summary":"Retrieve single contract","description":"Returns a booking contract by its unique identifier.","operationId":"showContract","parameters":[{"name":"identifier","in":"path","description":"Booking contract identifier","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingContract"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/contract/list/{traceId}":{"get":{"tags":["Contract"],"summary":"Retrieve multiple contracts","description":"Returns booking contracts matching traceId.","operationId":"showContracts","parameters":[{"name":"traceId","in":"path","description":"Trace identifier","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookingContract"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/application/{id}/revoke":{"get":{"tags":["Application"],"summary":"Revoke Application Credentials","description":"Refreshes the clientId and secretKey properties.","operationId":"revokeApplication","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RevokeClientIdResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/application/list":{"get":{"tags":["Application"],"summary":"Show Applications","description":"List all applications owned by creating entity","operationId":"showApplicationsByUser","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Application"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/acquiring/stripe/payment/method/list":{"get":{"tags":["Acquiring"],"summary":"List Payment Methods","description":"List past payment methods by an existing customer record.","operationId":"showCustomerPaymentMethods","parameters":[{"name":"acquirerId","in":"query","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerPaymentMethodsResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/{id}/status":{"get":{"tags":["Account"],"summary":"Check Account Status","description":"Returns account status about whether this account has been verified and whether it is active.","operationId":"checkAccountStatus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountStatusResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/{accountIdentifier}/contract/grid":{"get":{"tags":["Contract"],"summary":"Retrieve contract grid","description":"Returns booking contracts for account identifier.","operationId":"showContractGrid","parameters":[{"name":"accountIdentifier","in":"path","required":true,"schema":{"type":"string"}},{"name":"state","in":"query","required":false,"schema":{"type":"string","enum":["UPCOMING","ACTIVE","COMPLETED","FUNDS_AVAILABLE"]}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingContractGridResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/{accountIdentifier}/contract/capture":{"get":{"tags":["Contract"],"summary":"Retrieve capture currencies","description":"Returns a list of capture currencies and amounts for the account identifier.","operationId":"showCaptureCurrencies","parameters":[{"name":"accountIdentifier","in":"path","required":true,"schema":{"type":"string"}},{"name":"state","in":"query","required":false,"schema":{"type":"string","enum":["UPCOMING","ACTIVE","COMPLETED","FUNDS_AVAILABLE"]}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregateBookingContractCaptureCurrenciesByAccountResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/{accountIdentifier}/contract/aggregate/cancellation":{"get":{"tags":["Contract"],"summary":"Retrieve aggregate cancellation data","description":"Returns aggregate cancellation data this account identifier has participated in.","operationId":"showAggregateCancellationData","parameters":[{"name":"accountIdentifier","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AggregateBookingContractCancellationState"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/{accountIdentifier}/contract/aggregate/beneficiary":{"get":{"tags":["Contract"],"summary":"Retrieve aggregate beneficiary data","description":"Returns aggregate contract data this account identifier has participated in.","operationId":"showAggregateBookingContractData","parameters":[{"name":"type","in":"query","required":false,"schema":{"type":"string","enum":["LODGING","RAIL","AIR","CAR","CRUISE","PACKAGE","ADD_ON","RENTAL","EXPERIENCE","ANCILLARY_BOOKING","ANCILLARY_FEE"]}},{"name":"accountIdentifier","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BeneficiaryAggregateData"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/unique/{name}":{"get":{"tags":["Account"],"summary":"Verify Account Name","description":"Check if account name is unique","operationId":"isAccountNameUnique","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"identifier","in":"query","required":false,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UniqueResult"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/search/{name}":{"get":{"tags":["Account"],"summary":"Search Accounts by Name","description":"Show accounts matching name","operationId":"searchAccountByName","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"ignorecase","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KeyValuePair"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/owner/list":{"get":{"tags":["Account"],"summary":"Show Accounts by Owner","description":"List all accounts owned by creating entity","operationId":"showAccountsByOwner","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Account"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/name/{name}":{"get":{"tags":["Account"],"summary":"Show Accounts by Name","description":"Show accounts matching name","operationId":"loadAccountByName","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Account"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/name":{"get":{"tags":["Account"],"summary":"Show Accounts by Name like","description":"Show accounts matching name that are like...","operationId":"loadAccountByNameLike","parameters":[{"name":"name","in":"query","required":true,"schema":{"type":"string"}},{"name":"ignore-case","in":"query","required":false,"schema":{"type":"boolean","default":true}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Account"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/list":{"get":{"tags":["Account"],"summary":"Show Account for User","description":"Load account details for authenticated user","operationId":"loadAccountsForAuthenticatedUser","parameters":[{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Account"}}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/external/{id}/status":{"get":{"tags":["Account"],"summary":"Check External Account Status","description":"Returns account status about whether this account has been verified and whether it is active.","operationId":"checkExternalAccountStatus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountStatusResponse"}}}}},"security":[{"oauth2ClientCredentials":[]}]}},"/api/account/external/{externalAccountIdentifier}":{"get":{"tags":["Account"],"summary":"Show Account for External","description":"Show a specific account by passing your own external identifier","operationId":"loadExternalAccount","parameters":[{"name":"externalAccountIdentifier","in":"path","required":true,"schema":{"type":"string"}},{"name":"Wink-Version","in":"header","schema":{"type":"string","enum":["2.0"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Account"}}}}},"security":[{"oauth2ClientCredentials":[]}]}}},"components":{"schemas":{"UpsertBankAccountRequest":{"required":["accountHolderName","accountNumber","countryCode","currencyCode","primary"],"type":"object","properties":{"countryCode":{"type":"string","description":"Country of bank account","example":"US"},"currencyCode":{"type":"string","description":"Currency of bank account","example":"USD"},"accountHolderName":{"type":"string","description":"Bank account holder name","example":"12345678"},"swiftCode":{"type":"string","description":"Bank SWIFT code. Unique code identifier the bank and branch of the bank account.","example":"HHKHD"},"routingNumber":{"type":"string","description":"Bank account routing number. This is sort code in HK and Zengin code in JP.","example":"12345678"},"accountNumber":{"type":"string","description":"Bank account number. In all EU countries, this would be the IBAN. In other countries, the routing number will apply as well.","example":"12345678"},"primary":{"type":"boolean","description":"One bank account always needs to be primary."}}},"Account":{"required":["accountEmail","accountOwnerIdentifier","address","currencyCode","description","name","owner","ownerType","type","url","userIdentifier"],"type":"object","properties":{"id":{"type":"string","description":"Document UUID","example":"doc-1"},"createdDate":{"type":"string","description":"Datetime this record was first created","format":"date-time"},"lastUpdate":{"type":"string","description":"Datetime this record was last updated","format":"date-time"},"version":{"type":"integer","description":"Version property that shows how many times this document has been persisted. Document will not persist if the version property is less than current version property in the system. Result in an optimistic locking exception.","format":"int64","example":12},"type":{"type":"string","description":"Type of account tells us what the account is capable of.","example":"MERCHANT","enum":["MERCHANT","AFFILIATE","AGENT","FACILITATOR","RATE_PROVIDER","TRIP_PAY"]},"ownerType":{"type":"string","description":"Type of account owner tells us whether ths account is managed by a company or an individual.","example":"COMPANY","enum":["COMPANY","INDIVIDUAL"]},"accountOwnerIdentifier":{"type":"string","description":"The entity that created this account.","format":"uuid"},"name":{"type":"string","description":"Name of company / full name of person","example":"My Company"},"legalName":{"type":"string","description":"Legal name of entity if other than name","example":"Legal Company 1"},"userIdentifier":{"type":"string","description":"The authenticated user that owns this account.","format":"uuid"},"owner":{"$ref":"#/components/schemas/Contact"},"accountEmail":{"type":"string","description":"Account email is where we will send KYC documents and other account specific mailings","example":"company@acme.com"},"description":{"type":"string","description":"Short company / person description.","example":"My Company is the best company ever."},"url":{"type":"string","description":"Company website. If private person with no personal website, link to main social network account.","example":"https://trippay.io"},"status":{"type":"string","description":"Account status shows if it's approved","example":"APPROVED","default":"REGISTERED","enum":["REGISTERED","REVIEW","APPROVED","DEACTIVATED","REJECTED"]},"currencyCode":{"maxLength":3,"minLength":3,"type":"string","description":"Account's main currency.","example":"GBP"},"address":{"$ref":"#/components/schemas/Address"},"acquirers":{"type":"array","items":{"$ref":"#/components/schemas/Acquirer"}},"bankAccounts":{"type":"array","items":{"$ref":"#/components/schemas/BankAccount"}},"ownerTypeIdentifier":{"type":"string","description":"This is the tax identification number (TIN) for individuals and entity identification number (EIN) for companies."},"dob":{"type":"string","description":"This is the individual's date of birth.","format":"date"},"tasks":{"type":"array","items":{"$ref":"#/components/schemas/AccountStatusEntry"}},"preferredDisbursementType":{"type":"string","description":"The preferred method which the account holder wishes to be paid. This will play a role if we choose to automate the payout flow.","example":"BANK_TRANSFER","default":"BANK_TRANSFER","enum":["VIRTUAL_CREDIT_CARD","BANK_TRANSFER"]}},"description":"Account holds KYC, bank account and contact information of an affiliate, supplier, payment or any type of entity that is to be a beneficiary of funds through the payment."},"AccountStatusEntry":{"required":["taskId","text","type"],"type":"object","properties":{"taskId":{"type":"string","description":"Unique task identifier.","format":"uuid"},"type":{"type":"string","description":"Type of textual entry","example":"DISBURSEMENT","enum":["MISSING_NATIONAL_IDENTIFIER"]},"text":{"type":"string","description":"Textual description of .","format":"uuid"}},"description":"Describes a specific issue","example":"Your EIN is incorrect."},"Acquirer":{"required":["acquirerId","credentials","currencyCode","priority","type","vendor"],"type":"object","properties":{"acquirerId":{"type":"string","description":"Unique identifier.","example":"acquirer-1"},"priority":{"type":"integer","description":"Determines how vendors are displayed in a list","format":"int32"},"vendor":{"type":"string","description":"Name of acquiring vendor","example":"STRIPE","enum":["STRIPE","YAPILY","PAY_PAL","NMI","AGENT"]},"type":{"type":"string","description":"Technology taking the charge","example":"CREDIT_CARD","enum":["CREDIT_CARD","BANK_TRANSFER","PAY_PAL","CRYPTO","AGENT","CASH"]},"currencyCode":{"type":"string","description":"Currency in coverage region.","example":"GBP"},"credentials":{"type":"array","items":{"$ref":"#/components/schemas/AcquirerCredentials"}},"webhookSecret":{"type":"string"},"publicToken":{"type":"string"}},"description":"Payment method with the details describing how to make a payment happen"},"AcquirerCredentials":{"required":["key1","key2","type"],"type":"object","properties":{"type":{"type":"string","description":"Type of credentials","enum":["TOKEN","PROCESSOR_ID","WEBHOOK","SECRET"]},"key1":{"type":"string","description":"A key that can be used as a token","example":"token-1"},"key2":{"type":"string","description":"Can be used alongside key1 as credentials","example":"token-2"}},"description":"How we interact with the acquirer"},"Address":{"required":["address1","city","postalCode"],"type":"object","properties":{"address1":{"type":"string","description":"Address line 1","example":"234 Near da beach"},"address2":{"type":"string","description":"Address line 2","example":"Pebble #5001"},"state":{"type":"string","description":"State","example":"CA"},"postalCode":{"type":"string","description":"Postal / zip code","example":"90210"},"county":{"type":"string","description":"County","example":"Alameda county"},"city":{"$ref":"#/components/schemas/GeoName"}},"description":"Address information"},"BankAccount":{"required":["accountHolderName","accountNumber","countryCode","currencyCode","identifier","primary"],"type":"object","properties":{"identifier":{"type":"string","description":"Unique bank account identifier","format":"uuid"},"countryCode":{"type":"string","description":"Country of bank account","example":"US"},"currencyCode":{"type":"string","description":"Currency of bank account","example":"USD"},"accountHolderName":{"type":"string","description":"Bank account holder name","example":"Luxury Resorts"},"swiftCode":{"type":"string","description":"Bank SWIFT code. Unique code identifier the bank and branch of the bank account.","example":"HHKHD"},"routingNumber":{"type":"string","description":"Bank account routing number. This is sort code in HK and Zengin code in JP.","example":"12345678"},"accountNumber":{"type":"string","description":"Bank account number. In all EU countries, this would be the IBAN. In other countries, the routing number will apply as well.","example":"12345678"},"primary":{"type":"boolean","description":"One bank account always needs to be primary."}},"description":"Accounts use bank accounts to get paid."},"Contact":{"required":["email","firstName","lastName"],"type":"object","properties":{"firstName":{"type":"string","description":"Contact first name","example":"John"},"lastName":{"type":"string","description":"Contact last name","example":"Smith"},"email":{"type":"string","description":"Contact E-mail","example":"johnsmith@email.com"},"secondaryEmail":{"type":"string","description":"Contact secondary Email","example":"johnsmith2@email.com"},"phoneNumber":{"type":"string","description":"Contact phone number","example":"+12125551212"},"fullName":{"type":"string","description":"First and last name","example":"John Smith"},"summary":{"type":"string","description":"Summary","example":"John Smith\n0123456768\njohnsmith@email.com"}},"description":"The owning user entity."},"Country":{"type":"object","properties":{"iso":{"type":"string","description":"ISO code","example":"US"},"iso3":{"type":"string","description":"3 character ISO code","example":"USA"},"isoNumeric":{"type":"integer","description":"Numeric ISO code","format":"int32","example":840},"fips":{"type":"string","description":"FIPS country code","example":"US"},"name":{"type":"string","description":"Country name","example":"United States"},"capital":{"type":"string","description":"Country capital","example":"Washington"},"area":{"type":"number","description":"Area in square kilometers","format":"float","example":9629091.0},"population":{"type":"integer","description":"Country population","format":"int64","example":310232863},"continent":{"type":"string","description":"Continent code","example":"NA"},"topLevelDomain":{"type":"string","description":"Country TLD","example":".us"},"currencyCode":{"type":"string","description":"Currency code","example":"USD"},"currencyName":{"type":"string","description":"Currency name","example":"Dollar"},"phone":{"type":"string","description":"Calling code","example":"1"},"postalCodeFormat":{"type":"string","description":"Postal code format","example":"#####-####"},"postalCodeRegEx":{"type":"string","description":"Postal code regular expression","example":"^d{5}(-d{4})?$"},"languages":{"type":"array","description":"Country languages","items":{"type":"string","description":"Language code","example":"en-US"}},"geoNameId":{"type":"string","description":"Country GeoNames identifier","example":"6252001"},"neighbors":{"type":"array","description":"Neighboring countries","items":{"type":"string","description":"Country ISO code","example":"CA"}}},"description":"Country"},"GeoJsonPoint":{"type":"object","properties":{"x":{"type":"number","format":"double"},"y":{"type":"number","format":"double"},"type":{"type":"string"},"coordinates":{"type":"array","items":{"type":"number","format":"double"}}},"description":"Coordinate points of the city"},"GeoName":{"type":"object","properties":{"geoNameId":{"type":"string","description":"GeoName identifier","example":"5128581"},"type":{"type":"string","description":"GeoName type","enum":["CITY","ISLAND","OTHER"]},"name":{"type":"string","description":"Name of city","example":"New York City"},"urlName":{"type":"string","description":"Url name","example":"new-york-city-united-states"},"asciiName":{"type":"string","description":"Ascii name of city","example":"New York City"},"alternateNames":{"type":"array","description":"Array of alternate name","items":{"type":"string","description":"An alternate name for the city","example":"NYC"}},"location":{"$ref":"#/components/schemas/GeoJsonPoint"},"featureClass":{"type":"string"},"featureCode":{"type":"string"},"countryCode":{"type":"string"},"alternateCountryCodes":{"type":"array","items":{"type":"string"}},"admin1Code":{"type":"string"},"admin2Code":{"type":"string"},"admin3Code":{"type":"string"},"admin4Code":{"type":"string"},"population":{"type":"integer","description":"Population of the city","format":"int64","example":8175133},"elevation":{"type":"integer","description":"City elevation","format":"int32","example":10},"digitalElevationModel":{"type":"string"},"timezone":{"type":"string","description":"Timezone","example":"America/New_York"},"modificationDate":{"type":"string","format":"date"},"radiusInMeters":{"type":"integer","format":"int64"},"country":{"$ref":"#/components/schemas/Country"},"subCountry":{"$ref":"#/components/schemas/SubCountry"},"subSubCountry":{"$ref":"#/components/schemas/SubSubCountry"}},"description":"GeoNames have been created at [https://geonames.org](https://geonames.org) and contain geographical destinations we use as geoname data to associate travel inventory with a location."},"SubCountry":{"type":"object","properties":{"code":{"type":"string","description":"Code","example":"US.NY"},"countryCode":{"type":"string","description":"Country code","example":"US"},"subCountryCode":{"type":"string","description":"Sub-country code","example":"NY"},"name":{"type":"string","description":"Sub-country name","example":"New York"},"asciiName":{"type":"string","description":"Sub-country ascii name","example":"New York"},"geoNameId":{"type":"string","description":"Sub-country GeoNames identifier","example":"5128638"}},"description":"Country subdivision such as a state or province"},"SubSubCountry":{"type":"object","properties":{"code":{"type":"string"},"countryCode":{"type":"string"},"subCountryCode":{"type":"string"},"subSubCountryCode":{"type":"string"},"name":{"type":"string"},"asciiName":{"type":"string"},"geoNameId":{"type":"string"}},"description":"Country sub sub division"},"UpdateAccountMappingRequest":{"required":["externalIdentifier","localAccountIdentifier"],"type":"object","properties":{"localAccountIdentifier":{"type":"string","description":"Local account identifier is the payment identifier","format":"uuid"},"externalIdentifier":{"type":"string","description":"External identifier is the identifier of this entity in a remote system","example":"hotel-a"}}},"Mapping":{"required":["accountIdentifier","accountOwnerIdentifier","externalIdentifier","localAccountIdentifier","name"],"type":"object","properties":{"id":{"type":"string","description":"Document UUID","example":"doc-1"},"createdDate":{"type":"string","description":"Datetime this record was first created","format":"date-time"},"lastUpdate":{"type":"string","description":"Datetime this record was last updated","format":"date-time"},"version":{"type":"integer","description":"Version property that shows how many times this document has been persisted. Document will not persist if the version property is less than current version property in the system. Result in an optimistic locking exception.","format":"int64","example":12},"accountOwnerIdentifier":{"type":"string","description":"The entity that owns this account.","example":"principal-1"},"localAccountIdentifier":{"type":"string","description":"Local account identifier is the account identifier of the remote entity within TripPay","example":"hotel-1"},"externalIdentifier":{"type":"string","description":"External identifier is the identifier of this entity in a remote system","example":"hotel-a"},"accountIdentifier":{"type":"string","description":"Account identifier is the account doing the mapping","example":"account-1"},"name":{"type":"string","description":"Name of the entity being mapped","example":"Sheraton Hua Hin"}},"description":"Mapping record is responsible for mapping a local account identifier with a remote system. When a booking comes in from the remote system, we will know how to properly assign funds to the correct accounts."},"BeneficiaryCharge":{"type":"object","properties":{"type":{"type":"string","enum":["PERCENTAGE","REMAINDER"]},"percent":{"type":"number"}},"description":"A variable charge can be a fixed amount or a percentage."},"BookingUser":{"required":["email","firstName","lastName"],"type":"object","properties":{"userIdentifier":{"type":"string","description":"User identifier","format":"uuid"},"firstName":{"type":"string","description":"First name","example":"John"},"lastName":{"type":"string","description":"Last name","example":"Smith"},"email":{"type":"string","description":"Email","format":"email","example":"john.smith@email.com"},"telephone":{"type":"string","description":"Telephone","example":"+1 212 555 1212"},"profile":{"$ref":"#/components/schemas/Profile"},"fullName":{"type":"string","description":"Full name","readOnly":true,"example":"John Smith"}},"description":"Person doing the booking."},"CustomMonetaryAmount":{"type":"object","properties":{"amount":{"type":"number"},"currency":{"type":"string"}}},"Itinerary":{"required":["adults","children","endDate","startDate"],"type":"object","properties":{"startDate":{"type":"string","description":"Start date","format":"date-time"},"endDate":{"type":"string","description":"End date","format":"date-time"},"adults":{"minimum":0,"type":"integer","description":"Number of adults","format":"int32"},"children":{"minimum":0,"type":"integer","description":"Number of children","format":"int32"},"hours":{"type":"integer","description":"Number of hours between start and end dates. Used for itineraries that require bookings that occur within hours and not days. E.g. Meeting room reservation.","format":"int64","readOnly":true},"guests":{"type":"integer","description":"Total number of adults and children","format":"int32","readOnly":true},"nights":{"type":"integer","description":"Total number of room nights","format":"int64","readOnly":true}},"description":"Itinerary outlines stay dates, number of adults and children"},"Personal":{"type":"object","properties":{"gender":{"type":"string","description":"Identifier the gender of the customer.","enum":["MALE","FEMALE","OTHER"]},"birthDate":{"type":"string","description":"Indicates the date of birth as indicated in the document, in ISO 8601 prescribed format.","format":"date"},"maritalStatus":{"type":"string","description":"Marital status of the traveler.","enum":["ANNULLED","COHABITATING","DIVORCED","ENGAGED","MARRIED","SEPARATED","SINGLE","WIDOWED","UNKNOWN"]},"childQuantity":{"type":"integer","description":"The number of children of the customer.","format":"int32"},"citizenship":{"type":"string","description":"Name of the (self-professed) country that is clamided for citizenship."},"address1":{"type":"string","description":"Address line 1"},"address2":{"type":"string","description":"Address line 2"},"city":{"type":"string","description":"City"},"postalCode":{"type":"string","description":"Postal code"},"country":{"type":"string","description":"Country"},"preferredCurrency":{"type":"string","description":"Type of funds preferred for reviewing monetary values, in ISO 4217 codes","example":"USD"},"language":{"type":"string","description":"The primary language of the customer"},"contactPerson":{"type":"array","items":{"$ref":"#/components/schemas/Contact"}},"physChallName":{"type":"array","items":{"type":"string","description":"Array of customer's physical challenges"}},"petInfo":{"type":"array","items":{"$ref":"#/components/schemas/PetInfoDto"}}},"description":"Detailed customer information for this profile"},"PetInfoDto":{"required":["name","type"],"type":"object","properties":{"name":{"type":"string","description":"Pet name"},"type":{"type":"string","description":"Pet type"}},"description":"Array of customer's pets"},"Preferences":{"type":"object","properties":{"propertyLocationPref":{"type":"string","description":"Indicates preference for hotel property locations."},"propertyTypePref":{"type":"string","description":"Indicates preference for hotel property types."},"hotelChainPref":{"type":"string","description":"Identifies a preferred company by name."},"propertyAmenityPref":{"type":"array","description":"Indicates preferences for hotel property amenities.","items":{"type":"string"}},"recreationSrvcPref":{"type":"array","description":"Indicates preference for the type of recreation services in a hotel","items":{"type":"string"}},"businessSrvcPref":{"type":"array","description":"Indicates preference for type of business services in a hotel","items":{"type":"string"}},"securityFeaturePref":{"type":"array","description":"Indicates preference of rtype of security features in a hotel","items":{"type":"string"}},"physChalFeaturePref":{"type":"array","description":"Indicates preferences for type of features required to meet the needs of persons with physical challenges, disabilities, etc.","items":{"type":"string","description":"Indicates preferences for type of features required to meet the needs of persons with physical challenges, disabilities, etc."}},"smokingAllowed":{"type":"boolean","description":"Indicates preference for smooking allowed rooms.."},"roomLocationPref":{"type":"string","description":"Indicates preference for hotel room locations."},"bedTypePref":{"type":"string","description":"Indicates preferences for the size and features of hotel bed types."},"foodSrvcPref":{"type":"string","description":"Indicates preferences for type of food listener facilities in a hotel."},"roomAmenityPref":{"type":"array","description":"Indicates preferences for hotel room amenities.","items":{"type":"string"}},"guestType":{"type":"string","description":"Guest type"},"mealPref":{"type":"string","description":"Indicates meal preference."},"cuisinePref":{"type":"string","description":"Indicates cuisine preference."},"interestPref":{"type":"array","description":"Indicates interest preference","items":{"type":"string"}},"beveragePref":{"type":"array","description":"Indicates beverage preference.","items":{"type":"string"}},"foodPref":{"type":"array","description":"Indicates food preference.","items":{"type":"string"}},"allergies":{"type":"array","description":"Indicates allergies","items":{"type":"string"}},"petsPref":{"type":"array","description":"Indicates pet preferences","items":{"type":"string"}}},"description":"Customer preferences"},"Profile":{"required":["personal","preferences","profileIdentifier","share","user","userIdentifier"],"type":"object","properties":{"profileIdentifier":{"type":"string","description":"Profile identifier","format":"uuid"},"userIdentifier":{"type":"string","description":"User identifier","format":"uuid"},"share":{"type":"boolean","description":"Indicates whether the user wants to share this profile of themselves with hotel(s)"},"user":{"$ref":"#/components/schemas/ProfileUser"},"personal":{"$ref":"#/components/schemas/Personal"},"preferences":{"$ref":"#/components/schemas/Preferences"}},"description":"A user profile accompanies this booking IF user has created and enabled sharing of profile"},"ProfileUser":{"type":"object","properties":{"firstName":{"type":"string","description":"First name","example":"Avid"},"lastName":{"type":"string","description":"Last name","example":"Travelman"},"email":{"type":"string","description":"Email","format":"email","example":"avid@travelman.com"},"phone":{"type":"string","description":"Telephone","example":"0123456789"},"profilePictureUrl":{"type":"string","description":"Profile picture URL"},"fullName":{"type":"string","description":"Full name","example":"John Smith"}},"description":"User details"},"RawBeneficiary":{"required":["amountDue","identifier","identifierType","type"],"type":"object","properties":{"identifier":{"type":"string","description":"identifier of beneficiary that can map to an account with us","example":"external-account-1"},"identifierType":{"type":"string","description":"The identifierType tells us what type of identifier this is","example":"INTERNAL","enum":["INTERNAL","EXTERNAL"]},"amountDue":{"$ref":"#/components/schemas/BeneficiaryCharge"},"type":{"type":"string","description":"The type of beneficiary payment.","enum":["COMMISSION","PLATFORM_FEE","TRIP_PAY","SALE"]}},"description":"RawBeneficiary is a registered account with rights to compensation within a booking."},"RawBookingContract":{"required":["affiliateAccountIdentifier","affiliateAccountIdentifierType","contractList","displayCurrency","sourceUrl"],"type":"object","properties":{"affiliateAccountIdentifier":{"type":"string","description":"affiliate account making the request"},"affiliateAccountIdentifierType":{"type":"string","description":"Type of identifier this is","enum":["INTERNAL","EXTERNAL"]},"displayCurrency":{"type":"string","description":"The desired quote","example":"USD","default":"USD"},"sourceUrl":{"type":"string","description":"Where did the booking occur","example":"https://www.traveliko.com"},"contractList":{"maxItems":2147483647,"minItems":1,"type":"array","items":{"$ref":"#/components/schemas/RawSupplierContract"}},"traceId":{"type":"string","description":"Integrator can choose to include a unique identifier to help identify the collection of bookings","example":"integrator-booking-code-1"}},"description":"Unedited / unfiltered booking contracts directly from the vendor"},"RawDailyRate":{"required":["date","price"],"type":"object","properties":{"date":{"type":"string","description":"The date this rate is applicable for.","format":"date","example":"2020-08-24"},"price":{"$ref":"#/components/schemas/CustomMonetaryAmount"}},"description":"In case of LODGING, include daily rates"},"RawSupplierContract":{"required":["contractItemList","supplierIdentifier","supplierIdentifierType"],"type":"object","properties":{"identifier":{"type":"string","description":"Unique identifier used to track the contract. Will auto-generate on if doesn't exist.","format":"uuid"},"supplierIdentifier":{"type":"string","description":"Supplier identifier ","format":"uuid"},"supplierIdentifierType":{"type":"string","description":"Indicates whether the supplierIdentifier can be found internally or is mapped via an external identifier","example":"EXTERNAL","enum":["INTERNAL","EXTERNAL"]},"contractItemList":{"maxItems":2147483647,"minItems":1,"type":"array","items":{"$ref":"#/components/schemas/RawSupplierContractItem"}},"externalSupplierBookingCode":{"type":"string","description":"External booking code generated by the affiliate","example":"external-booking-code-1"},"externalTransactionIdentifier":{"type":"string","description":"External transaction identifier populated when agent responsible for acquiring","example":"external-transaction-1"}},"description":"Details of the booking entries that went in for one particular supplier directly."},"RawSupplierContractItem":{"required":["beneficiaryList","descriptionInEnglish","itinerary","nameInEnglish","payable","price","pricingType","type","user"],"type":"object","properties":{"user":{"$ref":"#/components/schemas/BookingUser"},"nameInEnglish":{"type":"string","description":"Name of item in English included in booking.","example":"Deluxe King"},"descriptionInEnglish":{"type":"string","description":"Short description in English of item included in booking.","example":"This is the best deluxe king that money can buy."},"price":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"itinerary":{"$ref":"#/components/schemas/Itinerary"},"pricingType":{"type":"string","description":"Indicates the way this item should be priced.","enum":["PER_STAY","PER_DAY","PER_NIGHT","PER_USE","PER_HOUR","PER_PERSON","PER_PERSON_PER_NIGHT","PER_PERSON_PER_HOUR","PER_ADULT","PER_ADULT_PER_NIGHT","PER_ADULT_PER_HOUR","PER_CHILD","PER_CHILD_PER_NIGHT","PER_CHILD_PER_HOUR"]},"type":{"type":"string","description":"Type of item this is.","example":"LODGING","enum":["LODGING","RAIL","AIR","CAR","CRUISE","PACKAGE","ADD_ON","RENTAL","EXPERIENCE","ANCILLARY_BOOKING","ANCILLARY_FEE"]},"perUseQuantity":{"type":"integer","description":"Required when pricing type is PER_USE or PER_PERSON_PER_HOUR. PER_USE => specify how many usages. PER_PERSON_PER_HOUR => specify how many hours","format":"int32","example":2},"beneficiaryList":{"maxItems":2147483647,"minItems":1,"type":"array","items":{"$ref":"#/components/schemas/RawBeneficiary"}},"payable":{"type":"string","description":"When to charge for this item.","example":"PREPAY","enum":["IMMEDIATE","ARRIVAL","DEPARTURE","AGENT"]},"policy":{"$ref":"#/components/schemas/SupplierContractItemPolicy"},"externalIdentifier":{"type":"string","description":"Optional geoname externalIdentifier to remote inventory.","example":"room-type-1"},"dailyRateList":{"type":"array","items":{"$ref":"#/components/schemas/RawDailyRate"}},"totalPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"}},"description":"Holds one booking line item for a specific supplier."},"SupplierContractItemPolicy":{"required":["refundable"],"type":"object","properties":{"refundable":{"type":"boolean","description":"Whether this booking is refundable or not.","example":true},"advanceCancellationFreeOfCharge":{"type":"string","description":"When the cancellation policy is refundable, this flag can be set and indicates there is more rules involved than just a no-questions-asked refundable.","example":"UNTIL_EIGHTEEN_HUNDRED_HOURS_ON_DAY_OF_ARRIVAL","enum":["UNTIL_EIGHTEEN_HUNDRED_HOURS_ON_DAY_OF_ARRIVAL","UNTIL_FOURTEEN_HUNDRED_HOURS_ON_DAY_OF_ARRIVAL","ONE_DAY_BEFORE_ARRIVAL","TWO_DAYS_BEFORE_ARRIVAL","THREE_DAYS_BEFORE_ARRIVAL","FIVE_DAYS_BEFORE_ARRIVAL","SEVEN_DAYS_BEFORE_ARRIVAL","FOURTEEN_DAYS_BEFORE_ARRIVAL","TWENTYONE_DAYS_BEFORE_ARRIVAL","THIRTY_DAYS_BEFORE_ARRIVAL","FOURTY_TWO_DAYS_BEFORE_ARRIVAL","SIXTY_DAYS_BEFORE_ARRIVAL"]},"refundableCancellationCharge":{"type":"string","description":"If advanceCancellationFreeOfCharge rules is not honored, this property explains what the guest will be charged.","example":"FIFTY_PERCENT","enum":["FIRST_NIGHT","THIRTY_PERCENT","FIFTY_PERCENT","SIXTY_PERCENT","SEVENTY_PERCENT","NINENTY_PERCENT","ONE_HUNDRED_PERCENT"]},"noShowCharge":{"type":"string","description":"In case the 'Refundable cancellation charge' is set, a different no show charge can be applied.","example":"SAME_AS_CANCELLATION_FEE","enum":["SAME_AS_CANCELLATION_FEE","ONE_HUNDRED_PERCENT_OF_TOTAL_CHARGE"]},"nonRefundableCancellationCharge":{"type":"string","description":"When the cancellation policy is non-refundable, this flag can be set and indicates there is more rules involved to calculate what the guest will owe in case of a cancellation.","example":"SEVENTY_PERCENT","enum":["FIRST_NIGHT","TEN_PERCENT","THIRTY_PERCENT","FIFTY_PERCENT","SEVENTY_PERCENT"]},"nonRefundableDeadline":{"type":"string","description":"The non-refundable charge might can have a deadline. If that deadline passes, the guest might be charged more.","example":"SEVEN_DAYS_BEFORE_ARRIVAL","enum":["ONE_DAY_BEFORE_ARRIVAL","TWO_DAYS_BEFORE_ARRIVAL","THREE_DAYS_BEFORE_ARRIVAL","FIVE_DAYS_BEFORE_ARRIVAL","SEVEN_DAYS_BEFORE_ARRIVAL","FOURTEEN_DAYS_BEFORE_ARRIVAL","TWENTYONE_DAYS_BEFORE_ARRIVAL","THIRTY_DAYS_BEFORE_ARRIVAL","FOURTY_TWO_DAYS_BEFORE_ARRIVAL","SIXTY_DAYS_BEFORE_ARRIVAL"]},"nonRefundableAfterDeadlineCancellationCharge":{"type":"string","description":"If the guest does not honor the non-refundable deadline rule, this charge dictates what she owes after the deadline passes.","example":"ONE_HUNDRED_PERCENT","enum":["FIRST_NIGHT","TEN_PERCENT","THIRTY_PERCENT","FIFTY_PERCENT","SEVENTY_PERCENT","ONE_HUNDRED_PERCENT"]},"externalIdentifier":{"type":"string","description":"Optional geoname externalIdentifier to remote policy.","example":"policy-1"},"fullyRefundable":{"type":"boolean"},"partiallyRefundable":{"type":"boolean"}},"description":"Outlines the policy for this item."},"ValidateBookingContractRequest":{"required":["contract"],"type":"object","properties":{"contract":{"$ref":"#/components/schemas/RawBookingContract"}}},"ValidateBookingContractResponse":{"required":["valid"],"type":"object","properties":{"valid":{"type":"boolean","description":"Returns whether the booking contract was valid or not."}}},"PriceSupplierContractWithAcquirerRequest":{"required":["acquirerIdentifier","affiliateAccountIdentifier","affiliateAccountIdentifierType","contract","displayCurrency","sourceUrl"],"type":"object","properties":{"affiliateAccountIdentifier":{"type":"string","description":"affiliate account making the request","format":"uuid"},"affiliateAccountIdentifierType":{"type":"string","description":"Type of identifier this is","enum":["INTERNAL","EXTERNAL"]},"displayCurrency":{"type":"string","description":"The desired quote","example":"USD","default":"USD"},"sourceUrl":{"type":"string","description":"Where did the booking occur","example":"https://www.traveliko.com"},"traceId":{"type":"string","description":"Integrator can choose to include a unique identifier to help identify the collection of bookings","example":"integrator-booking-code-1"},"contract":{"$ref":"#/components/schemas/RawSupplierContract"},"acquirerIdentifier":{"type":"string","description":"Selected acquirer"}}},"DailyRate":{"required":["capturePrice","date","displayPrice","internalPrice","price","supplierPrice"],"type":"object","properties":{"date":{"type":"string","description":"The date this rate is applicable for.","format":"date","example":"2020-08-24"},"price":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"displayPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"supplierPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"internalPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"capturePrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"}},"description":"In case of LODGING, include daily rates"},"PriceSupplierContractWithAcquirerResponse":{"required":["affiliateAccountIdentifier","affiliateAccountIdentifierType","contract","displayCurrency","sourceUrl","traceId"],"type":"object","properties":{"affiliateAccountIdentifier":{"type":"string","description":"affiliate account making the request","format":"uuid"},"affiliateAccountIdentifierType":{"type":"string","description":"Type of identifier this is","enum":["INTERNAL","EXTERNAL"]},"displayCurrency":{"type":"string","description":"The desired quote","example":"USD","default":"USD"},"sourceUrl":{"type":"string","description":"Where did the booking occur","example":"https://www.traveliko.com"},"traceId":{"type":"string","description":"Integrator can choose to include a unique identifier to help identify the collection of bookings","example":"integrator-booking-code-1"},"contract":{"$ref":"#/components/schemas/PricedSupplierContractWithAcquirer"}}},"PricedSupplierContractItemWithAcquirer":{"required":["beneficiaryList","capturePrice","descriptionInEnglish","displayPrice","internalPrice","itinerary","nameInEnglish","payable","price","pricingType","supplierPrice","type","user"],"type":"object","properties":{"user":{"$ref":"#/components/schemas/BookingUser"},"nameInEnglish":{"type":"string","description":"Name of item in English included in booking.","example":"Deluxe King"},"descriptionInEnglish":{"type":"string","description":"Short description in English of item included in booking.","example":"This is the best deluxe king that money can buy."},"price":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"displayPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"supplierPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"internalPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"capturePrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"itinerary":{"$ref":"#/components/schemas/Itinerary"},"pricingType":{"type":"string","description":"How to calculate the total amount.","enum":["PER_STAY","PER_DAY","PER_NIGHT","PER_USE","PER_HOUR","PER_PERSON","PER_PERSON_PER_NIGHT","PER_PERSON_PER_HOUR","PER_ADULT","PER_ADULT_PER_NIGHT","PER_ADULT_PER_HOUR","PER_CHILD","PER_CHILD_PER_NIGHT","PER_CHILD_PER_HOUR"]},"type":{"type":"string","description":"Type of item this is.","example":"LODGING","enum":["LODGING","RAIL","AIR","CAR","CRUISE","PACKAGE","ADD_ON","RENTAL","EXPERIENCE","ANCILLARY_BOOKING","ANCILLARY_FEE"]},"perUseQuantity":{"type":"integer","description":"Required when pricing type is PER_USE.","format":"int32","example":2},"beneficiaryList":{"maxItems":2147483647,"minItems":1,"type":"array","items":{"$ref":"#/components/schemas/RawBeneficiary"}},"payable":{"type":"string","description":"When to charge for this item.","example":"PREPAY","enum":["IMMEDIATE","ARRIVAL","DEPARTURE","AGENT"]},"policy":{"$ref":"#/components/schemas/SupplierContractItemPolicy"},"externalIdentifier":{"type":"string","description":"Optional geoname externalIdentifier to remote inventory.","example":"room-type-1"},"dailyRateList":{"type":"array","items":{"$ref":"#/components/schemas/DailyRate"}},"totalPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalDisplayPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalSupplierPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalInternalPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalCapturePrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"}},"description":"Holds one booking line item for a specific supplier.","readOnly":true},"PricedSupplierContractWithAcquirer":{"required":["acquirer","capturePriceQuote","displayPriceQuote","externalSupplierBookingCode","externalSupplierIdentifier","externalTransactionIdentifier","identifier","internalPriceQuote","itemList","supplierIdentifier","supplierName","supplierPriceQuote"],"type":"object","properties":{"identifier":{"type":"string","description":"Unique identifier used to track the contract. Create a UUID for this purpose.","format":"uuid"},"supplierIdentifier":{"type":"string","description":"Supplier identifier","format":"uuid"},"supplierName":{"type":"string","description":"Supplier name","example":"Supplier One"},"displayPriceQuote":{"$ref":"#/components/schemas/Quote"},"supplierPriceQuote":{"$ref":"#/components/schemas/Quote"},"internalPriceQuote":{"$ref":"#/components/schemas/Quote"},"capturePriceQuote":{"$ref":"#/components/schemas/Quote"},"itemList":{"maxItems":2147483647,"minItems":1,"type":"array","readOnly":true,"items":{"$ref":"#/components/schemas/PricedSupplierContractItemWithAcquirer"}},"acquirer":{"type":"array","items":{"$ref":"#/components/schemas/Acquirer"}},"externalSupplierIdentifier":{"type":"string","description":"Track supplier with its external supplier identifier","example":"external-supplier-a"},"externalSupplierBookingCode":{"type":"string","description":"External booking code generated by the affiliate","example":"external-booking-code-1"},"externalTransactionIdentifier":{"type":"string","description":"External transaction identifier populated when agent responsible for acquiring","example":"external-transaction-1"},"totalPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalDisplayPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalSupplierPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalInternalPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalCapturePrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"}},"description":"Details of the booking entries that went in for one particular supplier directly."},"Quote":{"required":["exchangeRate","source","target","timestamp"],"type":"object","properties":{"source":{"type":"string","description":"Source"},"target":{"type":"string","description":"Target"},"exchangeRate":{"type":"number","description":"Exchange rate"},"timestamp":{"type":"integer","description":"Timestamp","format":"int64"}},"description":"The quote used to create totalCapturePrice."},"PriceBookingContractRequest":{"required":["contract"],"type":"object","properties":{"contract":{"$ref":"#/components/schemas/RawBookingContract"}}},"PriceBookingContractResponse":{"required":["contract"],"type":"object","properties":{"contract":{"$ref":"#/components/schemas/PricedBookingContract"}}},"PricedBookingContract":{"required":["affiliateAccountIdentifier","affiliateAccountIdentifierType","contractList","displayCurrency","sourceUrl"],"type":"object","properties":{"affiliateAccountIdentifier":{"type":"string","description":"affiliate account making the request","format":"uuid"},"affiliateAccountIdentifierType":{"type":"string","description":"Type of identifier this is","enum":["INTERNAL","EXTERNAL"]},"displayCurrency":{"type":"string","description":"The desired quote","example":"USD","default":"USD"},"sourceUrl":{"type":"string","description":"Where did the booking occur","example":"https://www.traveliko.com"},"contractList":{"maxItems":2147483647,"minItems":1,"type":"array","items":{"$ref":"#/components/schemas/PricedSupplierContract"}},"totalDisplayPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"}},"description":"Validated and priced contract"},"PricedDailyRate":{"required":["date","displayPrice","internalPrice","price","supplierPrice"],"type":"object","properties":{"date":{"type":"string","description":"The date this rate is applicable for.","format":"date","example":"2020-08-24"},"price":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"displayPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"supplierPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"internalPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"}},"description":"In case of LODGING, include daily rates"},"PricedSupplierContract":{"required":["acquirerList","displayPriceQuote","externalSupplierBookingCode","externalSupplierIdentifier","identifier","internalPriceQuote","itemList","supplierIdentifier","supplierName","supplierPriceQuote"],"type":"object","properties":{"identifier":{"type":"string","description":"Unique identifier used to track the contract. Create a UUID for this purpose.","format":"uuid"},"supplierIdentifier":{"type":"string","description":"Supplier identifier","format":"uuid"},"supplierName":{"type":"string","description":"Supplier name","example":"Supplier One"},"displayPriceQuote":{"$ref":"#/components/schemas/Quote"},"supplierPriceQuote":{"$ref":"#/components/schemas/Quote"},"internalPriceQuote":{"$ref":"#/components/schemas/Quote"},"itemList":{"maxItems":2147483647,"minItems":1,"type":"array","readOnly":true,"items":{"$ref":"#/components/schemas/PricedSupplierContractItem"}},"acquirerList":{"maxItems":2147483647,"minItems":1,"type":"array","items":{"$ref":"#/components/schemas/Acquirer"}},"externalSupplierIdentifier":{"type":"string","description":"Track supplier with its external supplier identifier","example":"external-supplier-a"},"externalSupplierBookingCode":{"type":"string","description":"External booking code generated by the affiliate","example":"external-booking-code-1"},"externalTransactionIdentifier":{"type":"string","description":"External transaction identifier populated when agent responsible for acquiring","example":"external-transaction-1"},"totalPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalDisplayPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalSupplierPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalInternalPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"}},"description":"Details of the booking entries that went in for one particular supplier directly."},"PricedSupplierContractItem":{"required":["beneficiaryList","descriptionInEnglish","displayPrice","internalPrice","itinerary","nameInEnglish","payable","price","pricingType","supplierPrice","type","user"],"type":"object","properties":{"user":{"$ref":"#/components/schemas/BookingUser"},"nameInEnglish":{"type":"string","description":"Name of item in English included in booking.","example":"Deluxe King"},"descriptionInEnglish":{"type":"string","description":"Short description in English of item included in booking.","example":"This is the best deluxe king that money can buy."},"price":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"displayPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"supplierPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"internalPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"itinerary":{"$ref":"#/components/schemas/Itinerary"},"pricingType":{"type":"string","description":"How to calculate the total amount.","enum":["PER_STAY","PER_DAY","PER_NIGHT","PER_USE","PER_HOUR","PER_PERSON","PER_PERSON_PER_NIGHT","PER_PERSON_PER_HOUR","PER_ADULT","PER_ADULT_PER_NIGHT","PER_ADULT_PER_HOUR","PER_CHILD","PER_CHILD_PER_NIGHT","PER_CHILD_PER_HOUR"]},"type":{"type":"string","description":"Type of item this is.","example":"LODGING","enum":["LODGING","RAIL","AIR","CAR","CRUISE","PACKAGE","ADD_ON","RENTAL","EXPERIENCE","ANCILLARY_BOOKING","ANCILLARY_FEE"]},"perUseQuantity":{"type":"integer","description":"Required when pricing type is PER_USE.","format":"int32","example":2},"beneficiaryList":{"maxItems":2147483647,"minItems":1,"type":"array","items":{"$ref":"#/components/schemas/RawBeneficiary"}},"payable":{"type":"string","description":"When to charge for this item.","example":"PREPAY","enum":["IMMEDIATE","ARRIVAL","DEPARTURE","AGENT"]},"policy":{"$ref":"#/components/schemas/SupplierContractItemPolicy"},"externalIdentifier":{"type":"string","description":"Optional geoname externalIdentifier to remote inventory.","example":"room-type-1"},"dailyRateList":{"type":"array","items":{"$ref":"#/components/schemas/PricedDailyRate"}},"totalPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalDisplayPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalSupplierPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"totalInternalPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"}},"description":"Holds one booking line item for a specific supplier.","readOnly":true},"AffiliateDetailsRequest":{"required":["identifier","type"],"type":"object","properties":{"type":{"type":"string","description":"Account identifier type","enum":["INTERNAL","EXTERNAL"]},"identifier":{"type":"string","description":"Account identifier","format":"uuid"}},"description":"Request for affiliate details"},"AffiliateDetailsResponse":{"type":"object","properties":{"affiliateIdentifier":{"type":"string","description":"Affiliate identifier of entity making the same","format":"uuid"},"affiliateName":{"type":"string","description":"Affiliate name of entity making the same","example":"My Affiliate"},"affiliateUrl":{"type":"string","description":"Affiliate url of entity making the same","example":"https://www.my-affiliate.com"}},"description":"Affiliate details response contains details about the affiliate facilitating the sale."},"ManagingEntity":{"required":["label","type","value"],"type":"object","properties":{"value":{"type":"string","description":"The value that should be persisted.","example":"company-1"},"label":{"type":"string","description":"Text representation of the value.","example":"Company 1"},"type":{"type":"string","description":"Type of entity.","example":"COMPANY","enum":["USER","COMPANY","ACCOUNT"]}},"description":"Name of the application.","example":"App 1"},"UpsertWebhookRequest":{"required":["enabled","entity","eventList","eventUrl","name"],"type":"object","properties":{"name":{"type":"string","description":"Descriptive name of webhook.","example":"Webhook prod"},"entity":{"$ref":"#/components/schemas/ManagingEntity"},"enabled":{"type":"boolean","description":"Whether this webhook is enabled.","example":true,"default":true},"eventUrl":{"type":"string","description":"The url to POST event to.","example":"https://www.webhook.com/event"},"eventList":{"type":"array","items":{"type":"string","description":"The events the listener wants to receive. Leave empty to receive all events.","example":"account.created"}}}},"Webhook":{"required":["enabled","eventList","eventUrl","id","name","ownerIdentifier","ownerName","ownerType","userIdentifier"],"type":"object","properties":{"id":{"type":"string","description":"Document UUID","example":"doc-1"},"createdDate":{"type":"string","description":"Datetime this record was first created","format":"date-time"},"lastUpdate":{"type":"string","description":"Datetime this record was last updated","format":"date-time"},"version":{"type":"integer","description":"Version property that shows how many times this document has been persisted. Document will not persist if the version property is less than current version property in the system. Result in an optimistic locking exception.","format":"int64","example":12},"userIdentifier":{"type":"string","description":"Unique owner record identifier","format":"uuid"},"ownerIdentifier":{"type":"string","description":"Unique owner record identifier","format":"uuid"},"ownerName":{"type":"string","description":"Name of company owner.","example":"Travel Tech 1"},"ownerType":{"type":"string","description":"Type of entity.","example":"COMPANY","enum":["USER","COMPANY","ACCOUNT"]},"name":{"type":"string","description":"Descriptive name of webhook.","example":"Webhook prod"},"enabled":{"type":"boolean","description":"Whether this webhook is enabled.","example":true,"default":true},"eventUrl":{"type":"string","description":"The url to POST event to.","example":"https://www.webhook.com/event"},"eventList":{"type":"array","items":{"type":"string","description":"The events the listener wants to receive. Leave empty to receive all events.","example":"account.created"}}}},"CreateMappingRequest":{"required":["accountIdentifier","externalIdentifier","localAccountIdentifier","name"],"type":"object","properties":{"localAccountIdentifier":{"type":"string","description":"Local account identifier is the payment identifier","format":"uuid"},"externalIdentifier":{"type":"string","description":"External identifier is the identifier of this entity in a remote system","example":"hotel-a"},"accountIdentifier":{"type":"string","description":"Account identifier is the account doing the mapping","format":"uuid"},"name":{"type":"string","description":"Name of the entity being mapped","example":"Sheraton Hua Hin"}}},"CancelBookingContractRequest":{"required":["cancellerType","type"],"type":"object","properties":{"cancellerType":{"type":"string","description":"Who is doing the cancellation","example":"SUPPLIER","enum":["SALES_CHANNEL","SUPPLIER","TRAVELER"]},"type":{"type":"string","description":"Type of cancellation","example":"NO_SHOW","enum":["DUPLICATE","CANCELLATION","NO_SHOW","CC_INVALID","CC_INSUFFICIENT","DISCRETIONARY"]},"reason":{"type":"string","description":"Reason for cancellation"}}},"BookingContractCancellableResponse":{"type":"object","properties":{"identifier":{"type":"string","description":"Booking contract identifier","format":"uuid"},"cancellable":{"type":"boolean","description":"Whether the booking is cancellable or not"},"list":{"type":"array","items":{"$ref":"#/components/schemas/BookingContractItemCancellableResponse"}}},"description":"Contract cancellable response object"},"BookingContractItemCancellableResponse":{"type":"object","properties":{"supplierItemBookingCode":{"type":"string","description":"Booking code identifying the supplier line item.","example":"TP-ASDFG1234"},"nameInEnglish":{"type":"string","description":"Name of item in English included in booking.","example":"Deluxe King"},"policy":{"$ref":"#/components/schemas/SupplierContractItemPolicy"},"type":{"type":"string","description":"Type of item this is.","example":"LODGING","enum":["LODGING","RAIL","AIR","CAR","CRUISE","PACKAGE","ADD_ON","RENTAL","EXPERIENCE","ANCILLARY_BOOKING","ANCILLARY_FEE"]},"sourcePrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"supplierPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"displayPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"internalPrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"capturePrice":{"$ref":"#/components/schemas/CustomMonetaryAmount"},"cancellableByTraveler":{"type":"boolean","description":"Whether this item can be cancelled by traveler either fully or partially."},"cancellableBySupplier":{"type":"boolean","description":"Whether this item can be cancelled b
[...]
